[2017-01-16 17:03] bwbroersma opened #2 "Use Mozilla Readability instead of body.innerText"
Instead of [`body.innerText`](https://github.com/WebMemex/memextension/blob/8fdff6c167b618793d46ef8836f6ec615c499b72/src/activitylogger/content_script/index.js#L7) use [Mozilla Readability](https://github.com/mozilla/readability).

[2017-01-16 17:30] blackforestboi commented on #2
@bwbroersma

AFAIK body.innerText is a more inclusive way of capturing text content, as it is done by the browser itself, after rendering.
Readability is parsing the html and has a lot of blind spots for text content, that is not part of the main text in an article. This is because it is optimised for articles, not for web pages in general.

[2017-01-16 19:05] bwbroersma commented on #2
@oliversauter: I know Readability is limiting the content, but that is partly what I want. It would be better to index both (filtered context and full context) so it can be used during the ranking of the search. If Readability doesn't find a good candidate [it will use the body as last resort](https://github.com/mozilla/readability/blob/cec7d90a14b977ea80df12864c311b160f74dc34/Readability.js#L829)

[2017-01-16 19:11] blackforestboi commented on #2
So i understand it correctly, that readability would throw out the same content as body.innerText, if it is not an article (where no clear main text is available)?

[2017-01-16 21:32] bwbroersma commented on #2
You can try this in your dev console:
[code]
It only works on sites without strict Content Security Policy (so it doesn't work on github), on [hackernews](https://news.ycombinator.com/) it generates some interesting HTML (`tr`/`td` without `table`).

[2017-01-16 22:13] blackforestboi commented on #2
I see 2 problems:
1. It gives me a web compilable html code, but not the plain text that is necessary for the search.
Additional, error risky, steps would need to be taken to extract the text

2.  body.innertext captures everything on the page, which is good for now, as we rather have too many words as too less. Especially with not everything being an article that can be parsed with readability.
T

[2017-01-17 00:00] bwbroersma commented on #2
Improvement test case on a clean extension install:
1. goto a Wikipedia page with translations like [World Wide Web](https://en.wikipedia.org/wiki/World_Wide_Web)
2. search WebMemex for `Svenska`

With the [Readability fix](https://github.com/WebMemex/memextension/pull/3/commits/fdd019c62028b9ae66c9f107cabdba7b4fe77f08) this will result in no results, instead of the Wikipedia page, since the langu

[2017-01-17 00:37] Treora commented on #2
I would very much like to do some more sophisticated web page interpretation, including extraction of the main text(s). Mozilla's Readability seems a suitable tool for this, though I am not so convinced of its current code quality. I just sent a [PR](https://github.com/mozilla/readability/pull/340) to make it CommonJS-compatible, and [tried it out in the extension](https://github.com/WebMemex/meme

[2017-01-17 01:30] bwbroersma commented on #2
@Treora: since Firefox is using it, why isn't Firefox displaying the 'Enter Reader View' icon on sites like Blogspot, but is Readability not failing on the same site? (idem for [HackerNews](https://news.ycombinator.com), where Firefox has no Reader icon) Adding the same logic would 'fix' https://github.com/WebMemex/memextension/issues/2#issuecomment-272973980, since I actually never encountered a

[2017-01-17 02:01] bwbroersma commented on #2
Ok found it, see [`isProbablyReaderable(doc)`](https://github.com/mozilla/gecko-dev/blob/a712d69adb9b2588f88aff678216b2be94d3719c/toolkit/components/reader/ReaderMode.jsm#L169-L191) in the Firefox code, next to [a hard coded blacklist](https://github.com/mozilla/gecko-dev/blob/a712d69adb9b2588f88aff678216b2be94d3719c/toolkit/components/reader/ReaderMode.jsm#L379-L412), it uses the [`isProbablyRead

[2017-01-27 15:32] Treora commented on #2
Oh I forgot to close this. We included Readability in 6b0b2c8. Of course `body.innerText` is used as a fallback. I just [changed it](https://github.com/WebMemex/memextension/blob/6dc134d3d583af4c9501bfeedde8a99d4b6529ec/src/page-analysis/content_script/extract-page-text.js#L34) so that it does remember *which* type of text it has saved. Also it now keeps the whole object that Readability returns,

[2017-01-27 15:32] #2 closed

[2017-02-09 12:41] Treora opened #4 "Indexing slows down search"
It seems pouchdb-quick-search indexes new docs only when (or after) performing a search. Updating the index (search with `build: true`) upon document creation should fix this.

[2017-02-09 12:49] Treora opened #5 "First search in overview is slow"
Subsequent searches are fine, but [pouchdb-quick-search](https://github.com/nolanlawson/pouchdb-quick-search) seems to be rather costly on the first query, and hog quite some memory. We could delegate search to the background process, though I would like to find out what is happening under the hood.

[2017-02-09 13:01] Treora opened #6 "Put blobs in attachments"
Screenshots etcetera should not be strings in pouchdb docs, but should be stored separately, probably as attachments.

[2017-02-09 13:04] Treora opened #7 "Use async syntax"
Promises are verbose and messy. Convert to ES7 `async`/`await`.

[2017-02-09 13:08] Treora opened #8 "Package as Firefox extension"

[2017-02-09 13:10] Treora opened #9 "Package as Chromium extension"

[2017-02-09 13:53] Treora opened #10 "Log referrers (paths between visits)"
Unfortunately, the WebExtension API makes this sub-obvious when links are opened in new windows/tabs. The `webNavigation.onCommitted` event tells *whether* the user navigated by clicking a link, but not *whence*. The `history` API does provide this information, so we may resort to trying to look up each visit there by querying for its URL and/or visit time. Or we could try to log link clicks and w

[2017-02-09 14:01] Treora opened #11 "Log tab activity/interaction"
A page being visited in a tab is by far not as important as a page actually being read.
- [ ] Log the time a tab is active/visible
- [ ] Guess whether the user is paying attention to it (detect scrolling and mouse movements)

[2017-02-09 22:50] Treora opened #12 "Support manual bookmarking / Sync with Browser bookmarks"
We want some easy way to explicitly mark an item as important. Perhaps solvable just by listening to the normal browser add/delete bookmark events.

We could try keep the 'memory bookmarks' in sync with the browser bookmarks (and mirror their folder structure with groups/tags/links?). Questions arise when syncing memory (but not browser bookmarks) between multiple browsers, or when importing from

[2017-02-10 13:26] Treora opened #13 "Add local files"
As a user, I want to add a local files to my web. It may suffice if I could drop files onto the overview to 'upload' them.

Ideally the system could interact more closely with the local filesystem, but this is probably outside the current project scope (while being merely a WebExtension).

[2017-02-10 15:28] Treora opened #14 "Search memory in address bar"
Two possible approaches:

1. Use the [`omnibox`](https://developer.chrome.com/extensions/omnibox) API, like [WorldBrain](https://github.com/WorldBrain/Research-Engine/)/[Falcon](https://github.com/lengstrom/falcon). Currently only possible in Chrome|ium, and only works when the user enters a specified prefix, but it does allow to directly display results as suggestions.
2. Define a search engine p

[2017-02-10 15:35] blackforestboi commented on #14
Another option would be to make it like Pinboard. So if users search via the address bar they automatically land on a search engine (maybe google) and then get (the first 5) results displayed on the side or as the first results.

Also the missing API endpoint for the address bar will be resolved with the new FF53 (release 23. april). The problem then still remains for other browsers like safari or

[2017-02-11 00:42] #4 closed

[2017-02-11 00:50] Treora commented on #14
Indeed an option to peg onto a user's existing web search (though, again, not really satisfying).

None of these options exclude each other, and all of them are compromises just to provide somewhat more convenient, quicker access to something that is already accessible in another way. I guess some user research may be helpful here, and whatever works suffices in the meantime.

[2017-02-11 18:56] Treora opened #15 "Wrong page is captured"
If the tab's location changes before loading of some page completes, the next page's load event will trigger the analysis of that former page, which then thus gets the wrong page's title, screenshot, etcetera.

Should be fixable in `tab-events` (see 043be83).

[2017-02-12 12:15] Treora opened #16 "Settings dashboard"
Components:
- Editable blacklist (allowing to add/delete/edit entries) (see #20)
- Shortcut setting(s) (for now there is just one, that opens the search overview)
- Scary red button to delete all data? (or should users just uninstall the extension?)

And probably some more things will pop up.

[2017-02-12 12:53] Treora opened #17 "UI for bookmark&history import"
A user interface to start and stop importing of bookmarks & history, and watch its progress.

See description here: https://github.com/WorldBrain/Research-Engine/issues/92

[2017-02-12 17:27] Treora opened #18 "Reduce bundle sizes"
Not so urgent optimisations to perhaps try some time:

- [ ] PouchDB could be bundled separately, and shared between `background.js` and `overview.js`. Same for React, if used in multiple pages.
- [ ] `pouchdb-browser` could be replaced with `pouchdb-core` & `pouchdb-adapter-idb` (& pouchdb-mapreduce`?)
- [ ] Replace simple lodash functions. Even importing only `mapValues` draws in a whole bunch o

[2017-02-12 18:33] Treora opened #19 "Multi-page UI with react-router?"
We want to have
1. The overview page, with search and everything.
2. A settings page (which is also to be accessible from browser's extension list)
3. A UI for importing bookmarks/history

All these could be pages with a single React app, managed with react-router. Or they could be separate html pages, that each possibly use React internally, and may just have links to navigate to each other. Or i

[2017-02-12 19:44] Treora opened #20 "Editable blacklist/'forgetlist'"
As a user, I do not want my computer to remember visits to, ehm, well, certain websites.

The settings page should have an editable list of domain names which are to be ignored. Each entry could be a regular expression to provide more power to power users.

I noticed the word 'blacklist' appeared a bit confusing to some people (we do not block the pages). Perhaps call it 'forget-list', 'ignore-lis

[2017-02-12 20:01] Treora opened #21 "Forget/blacklist individual pages"
One should be able to remove individual pages/visits from their memory. At least from the history/search overview, through a context menu, or (fancier) by dragging it to a bin. Perhaps also through a menu on the to-be-forgotten page itself.

When we have implemented a blacklist (#20), we can also ask whether to enlist the domain of the removed page and/or forget all pages from that domain.

See al

[2017-02-12 20:09] blackforestboi commented on #21
@obsidianart had a few ideas how to make this flexible. I can't recall them though.

[2017-02-12 20:10] blackforestboi commented on #20
I like the wording "Ignore-List"

Question we may consider: Should we automatically delete all pages that have been blacklisted in retrospect as well?

[2017-02-12 20:37] Treora opened #22 "Deduplicate pages"
When the same page is visited multiple times, it is silly to create a new copy in the database for every visit. A non-trivial question however is when to consider two pages to be the same:

1. The easy case: if they have the same url and the same content (compare ETags or hashes), they are the same.
2. The easy opposite case: if they have different urls and different content, they are not the same

[2017-02-12 20:46] Treora commented on #20
Good point. Would be good to make that possible, but it would preferably first ask whether to "delete 62 matching pages from the memory". Else I would probably erase half my memory some day through a silly regex mistake. ;)

[2017-02-12 21:11] blackforestboi commented on #20
Good idea. Maybe just with a simple browser prompt that can be cancelled?

![](https://i.stack.imgur.com/gyxZZ.png)

[2017-02-12 21:21] blackforestboi commented on #22
I can imagine that detecting content "sameness" can be quite difficult, if there is content on the page that is dynamic.

How can we circumvent this? With news articles, I have the impression that readability does a quite decent job at cutting everything out, but not so much with other types of HTML content.

I don't know if that idea already came up, but how about storing the text through readabi

[2017-02-12 21:21] Treora commented on #20
Something like that, I suppose. Though preferably with something slightly prettier (plenty of UI libraries provide question dialogs). It could also be less obtrusive by the way, I now imagine a small note below the list asking "Also remove 62 matching items from memory? [Yes] [No]". Sorry for fussing over details already.

[2017-02-12 21:24] blackforestboi commented on #20
hehe yeah sure :) I am not thinking about that specific UI, was just as an example.

Sounds good to me. Simple short and to the point.

[2017-02-12 21:35] Treora opened #23 "Import browser history"
Get all of the browser history and add it to the database, while marking it as being imported.

Our current data model is quite similar to that of the browser's [history API](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/history), separately representing pages (`HistoryItem`s) and visits to those pages (`VisitItem`s), so it should be easy to map the whole thing one to one.

[2017-02-13 23:10] oliversauter opened #24 "Data conversion from current WorldBrain extension"
The current user base stored data to local storage. Now we implemented PouchDB. Therefore we need the ability to transfer the data from LS to PDB as soon as the extension updates for them.

[2017-02-13 23:11] blackforestboi commented on #24
Some basic work here has already been done by @arpitgogia.

The function can be found in WorldBrain's background.js `transferToPouch()` function

Problem I see is, that this function is activated everytime the extension updates, which leads to unecessary processing. I believe in the API specs there is an endpoint defining events like "onupdate", which could possibly be used to trigger it once the

[2017-02-14 12:59] obsidianart commented on #21
I didn't have any specific improvement, we had a conversation where I said I can't use the plugin because of the security policy I'm under unless you disable any website with a login.
I think we can slowly improve the "disable by default" and ask the user something like "Do you want to index your emails" etc. Till the moment in which we can guarantee security I wouldn't index any personal data (gm

[2017-02-14 13:19] blackforestboi commented on #21
I mean you have been mentioned something regarding multiple options "regex, domain, url". You were talking about a way to do it that would make it better extensible with rules.

[2017-02-14 13:46] Treora opened #25 "Infinite scroll in overview"
When reaching the bottom of the overview, load more (= older) items.

Note that when a search query is applied to filter the items in the overview, the question becomes more difficult, because then there are two (abstract) dimensions that could be expanded: load older results, or load less 'query-relevant' results. We could start with expanding just one dimension, namely whichever dimension things

[2017-02-14 14:08] Treora opened #26 "Filter search results by time"
Oliver and I discussed two ways to express the desired time range:
1. by text query: one could write "since March", or "last week" (like WorldBrain&Falcon already do it)
2. by a separate input; perhaps a [nice range slider](https://refreshless.com/nouislider/) or a [date picker](http://www.daterangepicker.com/)

Both are nice, but we can start with just one.

[2017-02-14 14:13] Treora opened #27 "Extract text content from PDFs"
Mainly just making a cleanup of Oliver's code: https://github.com/oliversauter/pdf2text4extensions

[2017-02-14 14:18] Treora opened #28 "Batch fetch&analyse pages"
Download a page to analyse its content and update its entry in the database.

Intended for getting more knowledge about imported browser bookmarks&history. See WorldBrain's corresponding [issue](https://github.com/WorldBrain/Research-Engine/issues/92).

[2017-02-14 14:31] Treora opened #29 "Import browser bookmarks"
Get all of the browser bookmarks and add them to the database, while marking them as being imported.

Each bookmark would map to a page in the database. Perhaps we should also try to pull the visits to these pages from the history, even if one does not choose to import the full history.

How to represent that a page is bookmarked is a remaining question. Adding a flag to the page itself sounds eas

[2017-02-15 11:23] Treora commented on #8
Done in 27b51b0 (plus subsequent commits to keep the script sizes within the limit of 4MB).
Running `make fx-build` creates the package.
First build is [published on AMO](https://addons.mozilla.org/en-US/firefox/addon/webmemex/), but still awaiting review.

[2017-02-15 11:23] #8 closed

[2017-02-16 23:20] Treora commented on #23
Mostly done in 5ef86e7. What still remains is the UI to invoke it (#17), and possibly some improvements to avoid possible duplication, between logged visits and visits imported from browser history (this should be avoidable by importing only the history before the oldest visit in our log, but it's not a clean solution).

[2017-02-16 23:20] #23 closed

[2017-02-18 16:42] bohrium272 commented on #27
I'd like to take this up. Please describe further.

[2017-02-18 20:44] Treora commented on #27
Great. I imagine this to be a separable module, though possibly developed within this repo for now, e.g. in `/src/pdf-analysis`.

As we quickly discussed, there may be two situations to consider: one is where the user is visiting the document, one is where we just have the url and should download it first. I am not sure about the possibilities in the first case, we might be required to download it

[2017-02-20 09:36] blackforestboi commented on #29
Do I understand it correctly?

There would be 3 types of objects:

1) Visits
2) Bookmarks
3) Content

Visits and bookmarks are containing metainformation dependend on the object type (i.e. `date_added` (bookmark) or `VisitTime` (History Item), whereas the Content is having all the data like text, title, keywords, tags etc)?

From what I understand, this structure seems to be a good one when wantin

[2017-02-20 09:54] blackforestboi commented on #26
I would tend to the date picker for the MVP now and then maybe add the slider afterwards.
If it is feasible, I would leave the query parser library of Falcon also in action, because it has other cool features, like minus word recognition, date recognition, quote recognition etc. This way people still can type "after:yesterday" in a quick fashion.

I really do like the range slider from a usability

[2017-02-20 09:57] blackforestboi commented on #25
@aquibm

You mentioned something regarding pagination vs. infinity scroll in the last call, if I am not mistaken? I just can't recall what it was.

[2017-02-20 10:06] aquibm commented on #25
I think it was Mario who brought up using paging over infinite scroll to allow the user to remember what page their result was on when searching repeatedly for the same query. I still don't understand how that would work though because as @Treora pointed out, history is constantly being updated.

I think a good option would be to use infinite scroll + fuzzy time range filters (yesterday, this week

[2017-02-20 11:13] oliversauter opened #31 "Deprecated packages warning when doing `npm install`"
It all works, but when doing `$ npm install` it is mentioning:
Might not be a problem...dunno :)

npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated minimatch@0.2.14: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated graceful-fs@1.2.3: graceful-fs v3.0.0 and before will fail on no

[2017-02-20 11:35] Treora opened #32 "Reorganise CSS"
Use [Sass/SCSS](http://sass-lang.com/) or [css-modules](https://github.com/css-modules/css-modules), or whatever works best.

[2017-02-20 11:54] Treora commented on #31
Thanks for noticing, but all of these are dependencies of dependencies (of dependencies...), so they will have to be dealt with in those projects. NPM is often a bit noisy, we could add a `--loglevel=error` but that may suppress useful warnings too.

[2017-02-20 11:54] #31 closed

[2017-02-20 16:37] Treora opened #33 "Search race condition"
It looks like a slower search action can overwrite the results of a quicker one.

[2017-02-20 20:31] #19 closed

[2017-02-20 21:08] #33 closed

[2017-02-20 21:42] aquibm commented on #16
I'll be picking this one up today.

[2017-02-22 19:05] bwbroersma commented on #22
Storing multiple visits of the same URL would be nice to detect [this](http://newsdiffs.org/diff/1104528/1105097/www.nytimes.com/2016/03/15/us/politics/bernie-sanders-amendments.html) kind of changes ([medium post about it](https://medium.com/@brokenravioli/proof-that-the-new-york-times-isn-t-feeling-the-bern-c74e1109cdf6)). Just storing (compressed) diffs, even of the complete HTML text should be

[2017-02-23 13:01] blackforestboi commented on #22
@Treora

Whats the plan?

[2017-02-24 16:05] Treora commented on #22
## The plan

The plan is to create a flexible algorithm and data model, that gives the application freedom to choose which pages to archive verbatim, which to forget the contents of, and which to pretend never existed, while references between the page objects can be used to express their relations (e.g. sameAs, updateTo). So some page objects may refer to another one and specify a diff to apply t

[2017-02-25 14:24] oliversauter commented on #27
I talked to @vaibhav, he wanted to take this task on. Is that still valid Vaibhav?

@Treora I suggest adding him as a contributor, so we can assign the task.

[2017-02-25 14:25] blackforestboi commented on #27
I talked to @vaibsharma, he wanted to take this task on. Is that still valid Vaibhav?

@Treora I suggest adding him as a contributor, so we can assign the task.

[2017-02-25 16:12] vaibsharma commented on #27
Yes I want to take this task .

[2017-02-25 17:33] blackforestboi commented on #27
ok great. Happy Hacking!

[2017-02-26 06:45] bohrium272 commented on #22
The above algorithm seems pretty good.
What I and @oliversauter had discussed earlier was to save articles using hashes like **md5** etc. That way each article gets a unique entry in the database. To handle multiple visits to the same article, an array of visit times is stored.
I really like the diff tree implementation of the page content. However the database will have to be changed to create a

[2017-02-26 08:27] bohrium272 commented on #28
Granted we have to obtain page content using `XMLHttpRequest`, there would be a whole lot of requests. I was thinking if there is any library/module to do it with optimal performance.
Found these:
* https://github.com/volpav/batchjs
* https://github.com/socialradar/batch-request

If we can work something out here, we should use it for WorldBrain too.

[2017-02-26 08:50] ChhaviSharma4 commented on #25
Hello @Treora ,
I was thinking of taking up this issue.Could you please elaborate on the requirements. According to the current code, doesn't the search query produce the list of items filtered according to time?

[2017-02-26 11:34] Treora commented on #25
Hi Chhavvi, great that you want to help. The search code is a bit complex though, so I recommend to read it through first, if you did not do so already, and see if you understand the whole flow (you have to be comfortable with `pouchdb`/`pouchdb-find`/`pouchdb-quick-search`, and javascript Promises).

Currently the code does not filter the search results by time. It only searches by text query, an

[2017-02-26 12:04] Treora commented on #28
There will be a whole lot of requests indeed; but each to different servers, and servers that are not ours, so unfortunately those libraries seem of no use in our case.

What I am thinking of is to make a function `fetchAndAnalyse` that, given a url, will end up putting a `page` object in the database that is as similar as possible to what would have been produced if the user would just have visit

[2017-02-26 14:37] blackforestboi commented on #25
This is how @arpitgogia implemented it in the WorldBrain code: https://github.com/WorldBrain/Research-Engine/blob/master/src/js/background.js#L174

[2017-02-26 14:43] blackforestboi commented on #28
In the WorldBrain code I used a code snipped that I extracted from a library called textract:
https://github.com/dbashford/textract

The cool thing is that the library is capable of reading all sorts of formats as well. I just used the HTML part.

HTML, HTM
Markdown
XML, XSL
PDF
DOC, DOCX
ODT, OTT (experimental, feedback needed!)
RTF
XLS, XLSX, XLSB, XLSM, XLTX
CSV
ODS, OTS
PPTX, POTX
ODP, OTP
ODG

[2017-02-26 16:07] bohrium272 commented on #28
Yes a `fetch&analyse` function would suffice.

I think this would not be particularly user friendly. Assuming a user has like a 1000 pages, I don't see how this approach would be good. What we did in Research-Engine was obtain the raw HTML of the page using `XMLHttpRequest` and then supply it to Falcon's already implemented processing architecture.

I think what @oliversauter has suggested would w

[2017-02-26 17:48] blackforestboi commented on #28
Actually a regular history has around 9-10k and the amount of bookmarks I hear were about 3k max.
I also don't think that this would be a good option. (Tab open and close)

In the WorldBrain code, I simply took the metadata from the history element provided by the history.api and only added the content to the same format as with a regular visit. So that should not be a big problem I assume.

@Treo

[2017-02-26 22:49] blackforestboi commented on #22
I think this is the way you intend it in your current model, right @Treora?

[2017-02-26 23:06] Treora commented on #28
The textract tool looks nice, thanks Oliver. Unfortunately for most of the file types it requires native software; it is meant for running in NodeJS, not in a browser.

For getting just the html and all its text, it is easy to make a fetch in the background. I was just thinking out loud about easy ways to get as much out of a page as when visiting it manually, such as taking a screenshot and extra

[2017-02-26 23:20] Treora commented on #22
Each visit is a separate object in the database, with a pointer to the page that was visited. I am not certain about using hashes as identifiers. It only makes sense if the data is not changing, while in the current model the page object can be updated with e.g. improved content analysis. Addressing immutable objects with hashes is nice for content-addressable storage, and I am still breaking my b

[2017-02-27 12:51] blackforestboi commented on #28
ok then it will come in handy as soon as everything is running on the server, i guess?

When we do it as a background-fetch for the import, we have to be aware, that we cannot use 'document.body.innerText'. Hence we will lose a lot of text content for non-articles when just using Readability. This was the original reason I used the textract library (specifically the HTML parser)

We could use it i

[2017-03-01 18:20] oliversauter opened #36 "Quick Blacklist & Forget"
Quickly blacklist a domain from the drop down menu:
<img width="230" alt="screen shot 2017-03-01 at 19 14 29" src="https://cloud.githubusercontent.com/assets/7870039/23474223/50b440de-feb3-11e6-8ad4-9dc5429230b7.png">

Steps:
- Click List Element "Put domain on Ignore List"
- Prompt pops up: "Do you want to delete every page that you already visited under this domain from the database?"
- If yes,

[2017-03-01 18:26] oliversauter opened #37 "Make full-page snapshot"
## Goal of module:
Make a complete screenshot of a page

[2017-03-01 19:16] oliversauter opened #38 "Pause recording of history/activity"
A user should be able to pause the recording of their history and activity, for periods of time.

Proposed Workflow:
1) Open Dropdown:
<img width="230" alt="screen shot 2017-03-01 at 19 14 29" src="https://cloud.githubusercontent.com/assets/7870039/23474889/a932fb40-feb5-11e6-8c7c-c3e24319bd9b.png">

2) Select "Pause WebMemex"
3) Select time frame in hours
4) confirm

Now everytime the user opens

[2017-03-01 19:24] blackforestboi commented on #14
I think its best to just go with the way Falcon/WorldBrain does it right now. Accessing search it in the Omnibar with the command w+tab/space.

The code, giving inspriation for that can be found here: https://github.com/WorldBrain/Research-Engine/blob/master/src/js/background.js#L17
The functions involved:
 - chrome.omnibox.onInputChanged.addListener(omnibarHandler);
 - chrome.omnibox.onInputEnter

[2017-03-01 20:16] wimpykid26 commented on #29
Hello @Treora @oliversauter , I would like to work on this if you let me. From what I understood :
1. Create a small frontend component in 'Overview' that will listen to the event 'importBookmarks'
2. A background script that will execute.
3. Import bookmarks using the Webextension Bookmarks API.
4. Convert the Array into pageDocs and visitDocs.
5. Map them into model and then push them into the d

[2017-03-01 20:28] blackforestboi commented on #12
Another idea is to just listen to the `onCreated` event of the bookmarks-API: https://developer.chrome.com/extensions/bookmarks#event-onCreated

If we cannot listen to it, maybe just periodically check of new bookmarks were added by querying the bookmarks API.

[2017-03-01 20:29] oliversauter opened #39 "Filter by bookmarks"
## User story

As a user, I want to filter my results by bookmarks.

[2017-03-01 20:32] wimpykid26 commented on #21
For now it's just deleting multiple occurrences of the page from the db right?.
After the blacklist is done, we'll have to make it flexible using RegEx?.
Can I work on this?.

[2017-03-01 21:08] oliversauter opened #40 "Overhaul overview (search results)"
The current search results are somewhat limited in the amount of info to be able to see/skim. The space could be used more efficiently.

## The issues I see:
1. Space not used, so no place to show additional important info for the search results:
![screen shot 2017-03-01 at 21 57 32](https://cloud.githubusercontent.com/assets/7870039/23480988/31ce56c0-feca-11e6-8ee3-4c2fe4efebbd.png)

2. The title

[2017-03-01 21:19] blackforestboi commented on #29
@wimpykid26

Maybe it helps to look into how the history is imported and stored: https://github.com/WebMemex/webmemex-extension/commit/5ef86e7a050d3285e3353fbf3737b4b22b6a5a44

I just want to give this as a pointer to understand the general mechanics of how the download works, and would advise waiting for @Treora's input from a technical perspective before starting to develop.
This is because I do

[2017-03-01 21:27] blackforestboi commented on #21
@wimpykid26

Thanks for your enthusiasm to help :)

Yes, for now it would be to block and delete everything coming from a specific domain. This would be the background logic to what @aquibm is working on in: https://github.com/WebMemex/webmemex-extension/issues/20

I just invited you to our slack channel, there you can directly contact @aquibm. Please be so kind to introduce yourself quickly in th

[2017-03-01 23:04] oliversauter opened #41 "Improve speed of current search"
Currently we use [PouchDB quick-search](https://github.com/nolanlawson/pouchdb-quick-search) for...well....search :)

But PouchDB-QS is already very slow with just a few dozen pages.
Also it is limited in the amount of filter options we can build in without work-arounds.

The task would be to come up with a solution for searching, that is:
- fast
- scalable (to a limit, does not have to last 2 yea

[2017-03-01 23:07] blackforestboi commented on #41
A possible idea is to copy/mimic how WorldBrain does it right now: https://github.com/WorldBrain/Research-Engine/blob/ed1e6bc4e2a0f3386105fb5249492560e9418d39/src/js/background.js

@Treora can you give a short description how the mechanism works?

[2017-03-02 09:06] oliversauter opened #42 "Testing the tool"
So that @rusuo can get started with exploring the tool with the eyes of testing it, we may compile a list of functions we deem to be most important to cover.

Just as a disclaimer: I am unexperienced in defining test cases, what I aim to do here is just listing the basic high level processes that should not fail and I aimed to spark a discussion with all those. We may also open up a project for al

[2017-03-02 09:59] Treora commented on #32
Achieved by #34 and #35.

[2017-03-02 09:59] #32 closed

[2017-03-02 10:57] Treora commented on #29
Hi @wimpykid26, thanks for helping! Your approach sounds good. I would just remove one step and add one step:

Not exactly sure what you meant here. Perhaps you meant to make a component that _triggers_ the `importBookmarks` script? Anyhow, the idea was to not put this in the overview but in the options pages, and this idea is described in #17. For the scope of this issue, it would be fine to just

[2017-03-02 11:13] Treora commented on #21
Small apparent misunderstanding here: I think @wimpykid26 meant that right now there is no blacklist, so the feature would just remove the existing occurence(s) of the page from the database. Right? This 'forgetting' part may be a good thing to already implement, and is independent of the blacklisting part.

Only after the logic for blacklisting has been created (have to synchronise plans with Aqu

[2017-03-02 11:27] Treora commented on #12
Exactly what I meant with listening to normal browser bookmark events.

I recommend using the [MDN docs](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/bookmarks/onCreated) by the way rather Chrome's, as it is adapted for cross-browser development.

[2017-03-02 11:33] Treora commented on #39
Good idea. UI-wise, perhaps we could add a small button to the search query to open up some search choices, including a toggle for this (and soon a time filter and probably other things).

[2017-03-02 11:43] Treora commented on #38
Do you mean you would like to pause the logging of your browsing? I think that could be useful. Browsers do have incognito window/tabs that have a very similar purpose, and that are more thorough as it also prevents the visits from being added to the browser's history log. It could be that something less thorough is sometimes desired though, as incognito mode completely disables the extension.

[2017-03-02 12:09] Treora commented on #28
As discussed out of band, running everything on the server is not currently on the roadmap.

I did not mean to *only* use Readability, we can still grab the plain text as well, either by doing some manual html-stripping (like or with the textract script) or grabbing `body.innerText` from jsdom if we would use it anyway.

Currently we store quite a lot of overlapping data for each page though, and

[2017-03-02 12:19] Treora commented on #27
@vaibsharma / @oliversauter: do I understand plans changed again? For me this feature does not have a high priority and nothing is blocked by it, so no problem if it moves to the waiting list again, but if somebody wants to implement it I am glad to assist.

[2017-03-02 12:30] blackforestboi commented on #27
@vaibsharma is having his midterm exams until 11 March, so wont be able to take it on anytime soon and there are other people who want to take it on...soon coming :)

[2017-03-02 12:45] Treora commented on #40
The current design is just what I quickly developed to get something usable, but I would be happy if somebody created something nicer. There is a reason for the empty space and small size of the items: the intention is to create a two-dimensional graph layout rather than a single column as it is now. As this may not materialise soon, it would probably be good to make some quick improvements on the

[2017-03-02 13:04] blackforestboi commented on #40
What do you think about a next step of just having a simple search results list with the elements, and as an additional task adding the features of before/after history (context) and some sort of grouping afterwards again? This way we would have a start and a very small, doable task also newcomers could take on?

[2017-03-02 13:06] vaibsharma commented on #27
I pushed whatever I was able to commit . Please have a look at #43 . Rest I will do after midsems :) . Thanks

[2017-03-02 13:06] blackforestboi commented on #27
I am sorry I might have mixed up some things...so many new people in the last days. :/

It appears that @vaibsharma was working on this!

[2017-03-02 13:17] SudhanvaMG commented on #25
Hey , if this is not taken , i would like to work on it .

[2017-03-02 13:23] bohrium272 commented on #28
Have we reached an algorithm we would like to try out?

[2017-03-02 13:51] Treora commented on #28
I would start in any case with making the functions to fetch the file, create a page doc in the database, and perhaps just dump the complete file in it for simplicity. If there is a clean setup for that (open a PR to ask for a review), we can start plugging in different functions for different types of analysis, at least grabbing the plain text. For that, I would give [jsdom](https://www.npmjs.com

[2017-03-02 14:21] Treora commented on #40
While rewriting the overview it would indeed be easier to skip the context and clustering stuff at first. It would be nice to have a design plan to work towards which does already draw out how to add these features and other interactivity (e.g. note taking). Creating this may not be so suitable as a newcomer task, and something that I should probably put some effort into myself, as many ideas are

[2017-03-02 14:41] blackforestboi commented on #40
Yes. just to make sure that is transported. I like the idea of the context a lot :) would just be good to make the first step of having skimmable and informative results.
And it could be a doable first small task to transfer these.

@Treora @aquibm, can we use what Aquib has done as a base?(https://github.com/WorldBrain/Research-Engine/pull/91)

Regarding the design plan, good idea, It became incr

[2017-03-02 15:06] Treora commented on #41
Search should indeed be faster, pouchdb-quick-search was not built for the scale we use it for. In its creator's own words:

We could try create an index that largely lives in memory, or do less indexing but keep recent documents in memory (such that searching is only slow for older documents), or possibly something else. Regarding less indexing:

I have not dived the details of how the WorldBrain

[2017-03-02 15:20] blackforestboi commented on #25
I was just told by @arpitgogia that Chhavi also has her exams period in the coming 2 weeks. So she wont be able to take it on. Is that correct @ChhaviSharma4?

If yes, I would suggest we give Sudhanva the "go" to take it on.

[2017-03-02 15:22] Treora commented on #37
This was something I put up as a plan, and thought would be easy to do, but it turns out it may not really be feasible. I had looked at [mozilla pageshot](https://github.com/mozilla-services/pageshot) which just [used](https://github.com/mozilla-services/pageshot/blob/43e3e44467f36c1421e0f5ed3358130ea7115aa4/addon/data/framescripts/screenshot.js#L69) [Canvas.drawWindow](https://developer.mozilla.o

[2017-03-02 15:22] #37 closed

[2017-03-02 15:58] Treora opened #44 "Log viewed (scrolled) part of page."
A common feature request is to have the extension keep track not just of which pages have been viewed, but also which part of those pages. For this we could make a possibly indepedent module, that listens to scrolling events and creates a map of the parts of the page that have been looked at.

A first implementation could just tell which ranges of the full document height have been visible at some

[2017-03-02 16:18] Treora opened #45 "Log time spent in each visit"
We currently only log the start time of each visit, not the end. This would be an obvious first thing to add. Much better still, we should log when a tab becomes active or inactive, because that is what actually matters, and possibly what we should really call a visit.

Let's start with logging the end time of the visit (= when the tab closed), and counting the total time spent viewing the page (≈

[2017-03-02 16:25] Treora commented on #11
Superseded by #45.

[2017-03-02 16:25] #11 closed

[2017-03-02 16:33] Treora commented on #45
Bonus points for adding this idea from #11: use mouse or keyboard activity to estimate whether the user is looking at the page or is away from keyboard, as to not log the latter as active viewing time.

[2017-03-02 16:50] SudhanvaMG commented on #25
Ok . I will work on this .

[2017-03-02 18:10] wimpykid26 commented on #29
@Treora how do I trigger my 'import bookmarks' script to check if it is working properly?.

[2017-03-02 18:15] Treora commented on #29
You could of course just make a simple button in any page while testing it. Myself, I would probably just make the function a global variable during development: `window.testImportBookmarks = ....`, and then call it from the debugger console; which you want to look at anyway to check error messages.

[2017-03-02 18:36] anona-R commented on #45
Can we use [ifvisible]( https://github.com/serkanyersen/ifvisible.js)  to check whether a user is looking at a page or not and then track the time by a timer

[2017-03-02 19:29] Treora commented on #45
Yes, brilliant, exactly the piece we need for the bonus points. What remains is just counting and summing up active times in the [activity-logger content script](https://github.com/WebMemex/webmemex-extension/blob/master/src/activity-logger/content_script/index.js), then somehow report it to the background script (not sure yet which way is best for that, but that can come later).

[2017-03-02 19:45] RohanMishra97 opened #46 "Object.values appears to not be transpiled"
Hello everyone,
After having used the make command on the cloned repo, I loaded the extension on Chromium (Version 53.0.2785).

However, I can't find the visited pages or other elements of the Memory Overview.
The dev-console shows the following error

![issue1](https://cloud.githubusercontent.com/assets/17517928/23523930/ad74a452-ffae-11e6-9da1-3b5acfe2a594.png)

Thanks for the help! :)

PS- Afte

[2017-03-02 20:09] aquibm commented on #46
Hi,

Could you please try issuing the commands `npm install` followed by `npm run build` in the root directory of the project?

Cheers,
Aquib.

[2017-03-02 20:14] RohanMishra97 commented on #44
One idea to find Scroll-able area by taking the difference between the Document Height and the Browser's current height(to be changed in resize events) and taking ratio of the scrollTop to the Scroll-able area.
In order to deal with the cost of  onScroll function - a setInterval method could be used.

[2017-03-02 20:24] RohanMishra97 commented on #46
After following the instructions, I got this output

[01:50:27] Using gulpfile ~/webmemex-extension/gulpfile.babel.js

I have tried using npm install --save-dev babel-register , but to no effect.
[This issue seems to be of a similar case.](https://github.com/google/web-starter-kit/issues/878)

[2017-03-02 23:56] Treora commented on #46
Thanks for reporting; I do not understand why the ES6->ES5 conversion would not convert the `Object.values` function.. It should create something like `var _values = require('babel-runtime/core-js/object/values');` in the built code (`extension/overview/overview.js`), and call that (or its derivative `_values2`) instead of `Object.values`. You could `grep` the file to see if it's there.

For compa

[2017-03-03 00:23] Treora commented on #29
By the way, I think [this](https://github.com/WorldBrain/Research-Engine/blob/3d32a35a42ad47f57c01161404af1ec8a8a6c835/src/js/import_bookmarks.js#L12) is a smart trick I noticed in the WorldBrain code:

No need to walk down trees of bookmarks this way. It does not import the bookmark folder structure though, but we have no way to represent folders yet anyhow so we could just start with this.

[2017-03-03 01:25] vaibsharma commented on #45
I made a chrome extension two months back, in which I required the total time spend in the current tab or website in that tab. We can use that approach for letting the end time come into the picture . By using port.postmessage({}) API of chrome we can send data whenever the condition satisfy . And then listen to this message in background .
 ^but I am not sure because in that I knew the websites t

[2017-03-03 01:31] vaibsharma commented on #45
^but I am not sure because in that I knew the webaites that were allowed by the content script and each one of them had their indecies , but since here we are using content script for perhaps we have to think of using different idea for using that code

[2017-03-03 13:01] reficul31 commented on #40
I would like to take up this issue. According to me the steps to follow are:
* Refactor the design and get it approved.
* Clean up the component
* Add the design all the while avoiding to mutate the component as much as possible.

Added feature:
* We can have like a focus div on the screenshot as soon as the mouse focuses on the tab.

If this is approved I will post the initial design for input.

[2017-03-03 13:19] reficul31 commented on #41
Please tell me if I am wrong. But I think instead of taking the whole text of the page into the db how about we filter out certain words such as "as","the","in","a" etc. These words would rarely come up in the searching query. How about we take the whole text of the page and just take the important words leaving out the common words. For example if the page says "The effects of global warming on d

[2017-03-03 13:45] reficul31 commented on #46
What worked for me was combining the epics in the overview/epics.js by
[code]
then in overview/store
[code]
I know this is a very hacky way but I wanted to get started quickly and this helped me do just that. Although I will keep searching for the right solution for the problem.

[2017-03-03 13:48] mangalutsav commented on #41
Can we use elastic search on keywords it's very fast and reliable

[2017-03-03 15:24] hackboxlive commented on #41
I agree strongly with @reficul31 and would furthur suggest that we could do one of these things:

:- Instead of filtering out certain common words and saving the rest of the words, we could map each page with certain tags only using certain learning algortihms(something like auto-tagging). This would speed up the search multifold.

:- The other thing which could be done is the implementation of an

[2017-03-03 16:13] reficul31 commented on #40
![webmemex_mock](https://cloud.githubusercontent.com/assets/19486491/23558595/3a34d1cc-005a-11e7-8cfb-6f8bf555fc7a.jpg)

I tried to follow as closely I could the design given by [pr](https://github.com/WebMemex/webmemex-extension/pull/30) Obviously the fonts will be changed to whatever was being used. Feedback needed so that I can start updating the components.

I also want to implement onfocus zo

[2017-03-03 16:20] RohanMishra97 commented on #46
Thanks a lot!

[2017-03-03 17:23] blackforestboi commented on #40
Hello @reficul31 great!

I like the simplicity of it. (as I did when @aquibm built it in the first place ;)
Props for onzoom on the screenshot! I like the idea.

The only thing I would differently for now is to have the screenshots without the white border, but directly fitting into the top right corner + with the same width.

If I am not mistaken, the search overview is a separate react applicati

[2017-03-03 17:47] reficul31 commented on #40
![webmemex_mock1](https://cloud.githubusercontent.com/assets/19486491/23562181/6ed4ed7e-0067-11e7-8fa4-876d24dca56e.jpg)

@oliversauter thanks for the input will put up the updated design asap. I know the overview is a different component from the settings component but I had no idea how the theme will be around the component so just to fill the page I added it(if that makes any sense).
I have rem

[2017-03-03 18:31] blackforestboi commented on #40
looks nice!

yeah, there is something, as discussed with @Treora earlier in the thread (https://github.com/WebMemex/webmemex-extension/issues/40#issuecomment-283665553)
We want to remove the grouping of pages that are from a similar domain. (at least for now)
And another thing, the display of pages that come before and after a search result. (you have to visit a few pages for that and then make a

[2017-03-03 20:40] Treora commented on #42
As discussed out of band, this discussion is to be continued elsewhere.

[2017-03-03 20:40] #42 closed

[2017-03-03 20:53] Treora commented on #46
Ok, so if it is only `Object.values` that is not transpiled, perhaps some incompatible changes happened in the babel presets (we use [stage-1](https://babeljs.io/docs/plugins/preset-stage-1/) to support features from the upcoming standard), or the preset was not doing what I understood it did.

By the way, Chromium≥54 does support `Object.values`, which may be why I never got the error myself.

[2017-03-03 22:35] blackforestboi commented on #41
Has anyone of you worked with [Lunr.js](http://lunrjs.com/)? Might that be an option to implement?

[2017-03-03 22:37] Treora commented on #41
Thanks everybody for thinking along. I'll try to address the points quickly:
@reficul31: I did not mention removing [stop words](https://en.wikipedia.org/wiki/Stop_words), but this is indeed be a preprocessing step in practically every text search algorithm. The pouchdb-quick-search we currently use does it, and so does Falcon (both fixed for English though, but language detection is a task for an

[2017-03-03 22:57] Treora commented on #41
@oliversauter: lunr.js would indeed be a possible tool of choice to do stemming, stop word filtering, etcetera. It is also used by pouchdb-quick-search. The question is still how to persist and access the index, which will become too large to keep everything in memory. [Here](https://gist.github.com/nolanlawson/6f69f4a573c1da862e92) is some interesting example code using Lunr and Dexie (a wrapper

[2017-03-03 23:16] Treora commented on #40
For clarity: I would not *want* to remove the clustering (how I call the grouping), but it may be extra effort to adapt the design for it, and needs to be done better anyway, so it is acceptable if it disappears for the moment while redesigning things.

By the way, if you did not do it yet, some changes for the design may also have to be done in the [ResultList code](https://github.com/WebMemex/we

[2017-03-03 23:27] blackforestboi commented on #40
It shouldnt sound like it should be removed completely, my bad. In my understanding it would have been temporarily so that we first have a clean simple list and then find a solution to the clustering in a next step ("While rewriting the overview it would indeed be easier to skip the context and clustering stuff at first.")

Thought about just having something more modern in terms of style, the ico

[2017-03-03 23:48] Treora commented on #40
Ah ok, good point. I just used the unicode character for a floppy (yes that exists), but it would be good to put an image there. The icons8 you suggest is not so nice copyright-wise though:

I love pixabay for only having CC0 (public domain) images, [here](https://pixabay.com/en/photos/?min_height=&image_type=vector&cat=&q=floppy+disk&min_width=&order=popular) are some vector drawings of floppies.

[2017-03-03 23:53] blackforestboi commented on #40
Also good point.

Making it really a "historical element"  :)

I favorite [one without color]( https://pixabay.com/en/floppy-disk-diskette-data-old-24172/), would fit better into the clean style.

A perfect combination would be your suggestion just in black and white :)

[2017-03-04 01:42] reficul31 commented on #40
@oliversauter I didnt want to overlay anything on the screenshot so I added the save icon before the screenshot. According to me this design looks a bit cleaner than overlaying the icon on the screenshot.
@Treora I guess this is what you needed with the time stamp coming when the gap is too much?
The fonts will be changed. Also I am a bit confused should the code for grouping be there or not?
PS.

[2017-03-04 03:39] NimmiW commented on #45
@Treora @vaibsharma yes we have think of some different idea. Let me and @uchithaR look into this :) We like to contribute to this project.

[2017-03-04 05:55] RohanMishra97 commented on #40
This seems nice!
I'd like to make a suggestion if I may, the user should have an option to delete any webpage from his overview and on adding it to the UI now, we can later add code to make it functional.
Cheers!

[2017-03-04 09:07] reficul31 commented on #26
I would like to take up this task. According to me the course of action should be
1. Design how time should be represented in the overview
2. Add the timeline component and update the state with the time(might not be an independent component)
3. Filter the search results using the filter method and the state updation
4. Display the results

In my opinion the text search thing might not be that use

[2017-03-04 09:26] blackforestboi commented on #40
@reficul31
I think there was a misunderstanding, my idea was also to put it where you just put it, not over the screenshot itself. So well handled, thanks :)

As I understood it regarding the code for the grouping, it would disabled for now until we found a better way to represent it in the UI. Doing that could be a good next task to take on then.

@RohanMishra97
Thanks for the great input, we tho

[2017-03-04 09:30] oliversauter opened #48 "Delete a single page from the DB"
As a user I should be able to delete a single page from the DB.

Ideally this happens in the search results list, as @RohanMishra97 reminded us in this thread:
https://github.com/WebMemex/webmemex-extension/issues/40#issuecomment-284130469

I assume that @reficul31 will implement it in the UI, so we need someone who implements the deletion from the DB.

Although here might come the question, if we

[2017-03-04 10:04] blackforestboi commented on #26
Hey @reficul31

Thanks for your enthusiasm and your clear communication around what you understood :) really appreciated!

If you don't mind, lets first finish the other issue you are working on entirely, as there probably will be some review adjustments. Also there are a lot of people interested in contributing, so by leaving this issue open, we can give others the chance to make their first cont

[2017-03-04 11:02] Treora commented on #48
This is exactly what is being discussed in #21, let's keep the discussion in one place.

[2017-03-04 11:02] #48 closed

[2017-03-04 11:15] Treora commented on #21
Restating @oliversauter's question from #48 (duplicate) here:

I see at least a few things one may desire to do:
- removing all traces of having visited a site (one may also want to remove it from browser history then..).
- deleting the page contents, not necessarily the knowledge of having been there, because of sensitive data in the page.
- deleting a single visit to a page, to clean up clutter

[2017-03-04 11:21] Treora commented on #40
@reficul31:

I meant that `— 8:40 —` between the items indeed. I did not mean that it is *needed*; just saying that it is there now, but a new design could choose to do it differently.

[2017-03-04 11:57] Treora commented on #21
And of course there are the possibilities that we can fulfil when we keep a blacklist of websites that are to be ignored:
- deleting all pages from a website (domain), and ignoring that site in the future.

[2017-03-04 12:08] reficul31 commented on #40
@oliversauter @Treora:

Should I act upon this or not. Also the groupings, just to confirm one last time, are supposed to be removed? Also is the PR to be sent to master or to some other branch?

edit:
The screenshot of how the component looks on my machine as of now
![screenshot from 2017-03-04 17 39 40](https://cloud.githubusercontent.com/assets/19486491/23578639/e1055e34-0101-11e7-8e30-4010efb1

[2017-03-04 12:15] reficul31 commented on #26
So sorry @oliversauter I thought I had already sent the PR. Will not take on multiple issues at the same time from now on. Thanks.

[2017-03-04 12:16] blackforestboi commented on #40
Sorry for not answering. IMO we could just make a "blank page icon" so the standard one, not using a WebMemex icon, makes it clearer that there is no favicon.

Regarding the groupings we would just need Gerbens confirmation and we can go for removing the groupings (for now)

[2017-03-04 12:39] mangalutsav commented on #41
@oliversauter there is a new plugin for browser
https://www.npmjs.com/package/elasticsearch-browser
so it can be taken into consideration

[2017-03-04 13:09] Treora commented on #41
@mangalutsav: that is only a client that connects to a remote Elasticsearch server, not an in-browser search engine.

[2017-03-04 13:14] Treora commented on #40
As said, feel free to remove the clustering for now. We will draft a new design which approaches it more thoroughly.

Putting a WebMemex logo on other websites seems a wrong kind of self-advertisement indeed (also, we still need a proper logo).

[2017-03-04 13:56] blackforestboi commented on #40
@reficul31
thanks for your quick feedback-loop cycle!
I just see that it would make sense to put a vertical line on the left side of the screenshot, so there is a clear separation. This seems needed for the case that there is no screenshot yet.
Because in that case the icons look somehow misplaced.

Is there a reason you chose to make the icons horizontal, not vertical? Not that I have a strong pr

[2017-03-04 14:05] blackforestboi commented on #20
@aquibm
Do you plan to take on the UI and the logic part of this task?
With the logic part I mean the actual storage of the blacklist items to any form of storage.

If yes, we need some clarification on how you aim to store the items, an info needed for another task: The actual enforcement of the blacklist.
This would be a function that tests a URL if it should be stored or not. For that we need t

[2017-03-04 14:16] reficul31 commented on #40
Duly noted @oliversauter
Will implement the changes and upload the screenshot again.

No reason, I guess I didn't put much thought into it. Now on second take I guess I should make them vertical only.
@Treora I guess I will keep the clustering on for now as I don't feel too comfortable removing such a big feature.

[2017-03-04 15:42] NimmiW commented on #45
@Treora https://github.com/NimmiW/activity-log-time/blob/master/background.js

Here we @uchithaR have done getting the active time log of all the tabs when navigating through tabs. This uses that active status of the tab to get the active time. Now we have work on detecting the real active time by using mouse over events and keyboard pressed events.

We went only through the Chrome API documentati

[2017-03-04 16:41] blackforestboi commented on #41
I just found this: http://elasticlunr.com/

Anybody experience with it?

[2017-03-04 16:56] bohrium272 commented on #41
I have no experience with this but it looks a very good alternative to in-browser elastic search. Would be ideal performance wise.

[2017-03-04 20:37] ChhaviSharma4 commented on #25
Yes sure @SudhanvaMG! I am sorry @oliversauter since I will be unable for this duration.

[2017-03-04 22:11] Treora commented on #45
@NimmiW @uchithaR: nice start, looking forward to see more.

[2017-03-05 03:02] reficul31 commented on #40
Sorry for the delay I have implemented all the changes and the final screenshot looks something like this.
![screenshot from 2017-03-05 08 29 56](https://cloud.githubusercontent.com/assets/19486491/23584147/25b62a50-017e-11e7-9260-9d84cca5057e.png)

Please tell me if other changes are required I will be happy to implement them. Please confirm the design once so that I can send the PR. Thanks.

[2017-03-05 05:16] mangalutsav commented on #41
@Treora my bad, but I was sure something like that existed. @oliversauter I don't have experience with it but it looks good.

[2017-03-05 12:18] wimpykid26 commented on #21
@Treora from a technical perspective, could you please tell me where to start
From what I grasped :

Get url and title of the page to be deleted, match them against corresponding entry in pouchdb and remove them.

Removing only a single entry would require the visittime, match them against the db and then delete that entry.

[2017-03-05 14:15] blackforestboi commented on #21
@wimpykid26 @Treora

I would assume that the most common use case would be that a person wants to have everything removed about that page, all visits and the data. At least for now, I assume it is less likely that a person wants to do it to clean up, hence the desire to only remove a single visit.

[2017-03-05 14:19] blackforestboi commented on #40
Hello @reficul31

Thanks a lot :)

I would add a small space between the icons and the screenshot.
Also, if you don't have any strong objections, I would add a vertical line on the left border of the screenshot, so in case no screenshot is there, that the icons don't look like hanging in the air.

Finally, I think we should remove the background image, it doesnt really fit well IMO to the style of

[2017-03-05 14:49] reficul31 commented on #40
@oliversauter Thanks for the input. Here are all the changes implemented.
![screenshot from 2017-03-05 20 16 29](https://cloud.githubusercontent.com/assets/19486491/23588258/d3879c6a-01e0-11e7-8978-1e0709a3e748.png)

Although in my opinion I think we shouldn't remove the background as the plugin followed a theme which the background complemented. Unless we come up with a concrete design to impleme

[2017-03-05 16:39] Treora commented on #21
You could probably find all pages with the same URL (there is already a
function for this in `src/search/find-pages`), find all visits to these
pages, and delete them all.

Each visit has an `id`, just deleting that visit would do for this goal.
However, as Oliver just said, this may not be the most important usage
scenario; but it may still be good as a simple task to try tackle first.

Either wa

[2017-03-05 17:27] blackforestboi commented on #40
I like it more with the white background, but have no hard feelings about it.

[2017-03-05 18:10] wimpykid26 commented on #21
Sure. Will keep you updated . Thanks :)

[2017-03-05 19:47] aquibm commented on #20
@oliversauter So far I've been working on the UI & user interactions for the blacklist. I'm planning on leaving persistence until the end but I believe the idea is to use redux-pouchdb to persist state.

[2017-03-05 20:01] rusuo opened #50 "Location changes by web-apps (through history API) are not logged as multiple pages/visits"
1. Go to youtube (there will be one entry created in the history)
2. Select various songs, or leave the playlist to continue to the next song on its own

Actual results:
There is only one entry created (the initial one), no other entries under the same domain appear.
Note: If I open a new tab then it will be created as a new entry.

Expected results:
A new entry is created for every different page

[2017-03-05 20:06] rusuo opened #51 "Searching for 'search1' creates a card with http://search1.com - cannot reproduce every time"
(I cannot reproduce it every time)

1. Open a new tab
2. In the search bar, enter 'search1' text
3. Go to the extension

Actual results:
An entry with "http://search1.com" is created

Expected results:
An entry with "search1" under Google is created

[2017-03-05 20:45] blackforestboi commented on #50
Also important to mention, that this only happens on a few sites, for example Youtube or GitHub or Twitter.

edit: I have a hunch that it may have something to do with web apps? Because if I visit pages like: https://shuttleworthfoundation.org it does not have a problem. Also useful to mention, that this also happens for the WorldBrain extension.

[2017-03-05 21:13] Treora commented on #50
Thanks for reporting! This is easily explainable, as the activity-logger currently [listens](https://github.com/WebMemex/webmemex-extension/blob/1423c9333112bf8f870764483bca2de14e250e9a/src/activity-logger/background/index.js#L22) to the [`browser.webNavigation.onCommitted`](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/webNavigation/onCommitted) event. We should also start listeni

[2017-03-05 21:19] blackforestboi commented on #50
@Treora is this something that can be marked as newcomer issue?

[2017-03-05 21:28] Treora commented on #51
Interesting. I imagine your browser (which?) tries to load both the page 'search1.com' and search results when you type 'search1', and depending on the speed of their responses either the one or the other may be logged.. Not sure how exactly, but we may need some pragmatic workarounds for things like this. Filtering out visits shorter than a few seconds may be helpful anyway to remove such clutter

[2017-03-05 23:08] rusuo opened #52 "When clicking on an entry, open a new tab, instead of the same one"
When clicking on an entry from your history, currently it is opened in the same tab.

I would suggest to be opened in a new tab, for having an easier to come back to the history, or to check what is happening

[2017-03-05 23:09] rusuo opened #53 "Show a message for "no results found""
When searching does not return any result, show a message to inform the user that no results were found

[2017-03-05 23:14] blackforestboi commented on #52
Good idea!

Actually right now I can't open the results in a new tab with cmd+click. I have to deliberately right click and then on "open in new tab", which is quite cumbersome, especially when you want to open more than one result.

[2017-03-05 23:21] rusuo commented on #51
I was using Chrome. Being related to the speed the page loads make sense, considering the fact that I cannot reproduce it every time

[2017-03-06 00:05] blackforestboi commented on #41
I found another few:
 - https://github.com/fergiemcdowall/search-index
 - https://github.com/reyesr/fullproof

[2017-03-06 04:01] reficul31 commented on #40
Shall I make a PR then?

[2017-03-06 05:18] reficul31 opened #54 "Create a 'loading results' indicator."
While the results are being loaded I think we could add an asynchronous call that issues a "loading results" action. It can basically display that results are being loaded or we can even add a progress bar.

[2017-03-06 06:12] rutujasurve94 commented on #41
Hello,
I found this: https://github.com/hexagon/thinker-fts. This has options for direct and indirect hits (weighted ranker for partial matching). It can retrieve results within 10ms on a 5000 average wikipedia sized dataset.
I also found: http://fusejs.io/
This is a fuzzy-search javascript library.

[2017-03-06 06:28] rutujasurve94 commented on #41
I even came across this:
https://github.com/eklem/search-index-norch-cookbook
Search index has been able to index upto 1.3 million documents so far.
This has mechanisms for auto-completion and also has ways in which we can index really large datasets, for eg: By setting the memory of a node in the following way or using big batch sizes:
$ node --max-old-space-size=8192 [your indexing script]
I nee

[2017-03-06 06:39] rutujasurve94 commented on #41
In terms of speed, this one seems to be the fastest (uses compressed index files): https://github.com/shibukawa/fm-index.jsx . I'm not sure if we can use it in the browser.
Elasticlunr seems to be a good option found so far.

[2017-03-06 06:58] rutujasurve94 commented on #41
This perhaps may be useful:
 https://github.com/anywhichway/reasondb This uses JOQuLaR (Javascript Object Query Language and Representation), an SQL like syntax for ReasonDb database. It has a lot of predicate types.
Also this: https://github.com/cshum/levi (Uses IndexDB database).

[2017-03-06 10:23] blackforestboi commented on #40
Jup :) Go ahead! Thanks a lot.

All the recent PRs were made directly to master, so you can put it there as well.

[2017-03-06 13:14] Treora commented on #41
Thanks all for the great research. I apparently underestimated how much already existed. It would be nice to try if one of these tools can be a good replacement for `pouchdb-quick-search`, or if they would have similar performance problems or perhaps other issues. Some questions to ask for each:
- Can it keep just an index without storing the documents themselves?
- Does it need to have the whole

[2017-03-06 13:27] Treora commented on #54
I think the required actions are already there ([refreshSearch](https://github.com/WebMemex/webmemex-extension/blob/1423c9333112bf8f870764483bca2de14e250e9a/src/overview/actions.js#L28) and [setSearchResult](https://github.com/WebMemex/webmemex-extension/blob/1423c9333112bf8f870764483bca2de14e250e9a/src/overview/actions.js#L11)), but (1) they should toggle a flag in the state to indicate that sear

[2017-03-06 13:39] Treora commented on #52
I personally dislike making the same-or-new-tab choice for people, and every history view or search results page I know does not open results in a new tab by default. The items are just links, so Ctrl or middle-mouse click should just open them in a new tab as usual. I wonder why it does not work for you with cmd+click.

More generally, I am still thinking how and when to present the overview anyw

[2017-03-06 14:35] RajPratim21 commented on #27
Hi, I am taking a try on it.

[2017-03-06 15:57] reficul31 commented on #54
@Treora

Or we could make a new epic that triggers a new reducer that changes the state to loading. And when the results are ready we change the state back to display.

I would like to take up both the tasks. I think the approach to follow is
1. Start by making animation for loading.
2. Set state and trigger animation.
3. Add an epic that triggers the state to loading.
4. Once the searchResult var

[2017-03-06 16:19] obsidianart commented on #54
I would change 1 in "Create a component for loading", it's very easy to drop it with something like
[code]

[2017-03-06 16:27] reficul31 commented on #54
@obsidianart
Just for clarification do you want loading to be a dumb component?
In my opinion I think making something like this would be cleaner(?)

```{search.isFetching?<div class='loading></div>:null}```

I'm sorry if I misunderstood you completely.

[2017-03-06 16:34] Treora commented on #54
Epics work too, but may make it more complicated. I would say try write
it out and see what results in the most elegant and understandable code.

As for starting/stopping an animation; I assume it could just be a
simple `{searchIsLoading ? <some-loader-icon-component /> : null}`. Not
sure where, next to the query input perhaps? We could also colour the
input's background slightly differently as an

[2017-03-06 16:35] Chaitya62 commented on #53
Submitting a PR soon

[2017-03-06 16:45] reficul31 commented on #54
@Treora Duly noted.
I will start by making the component then. I shall use epics for now. If the code gets too complicated we can remove for a simple function.

[2017-03-06 16:48] obsidianart commented on #54
@Treora If you can't stop a running search but you allow multiple you will have other problem in the future (merged result, incorrect results, etc) but it's outside fo the scope of this.
@reficul31 The loader is a component with an icon as @Treora clarified.
Whatever is a return or not depends on the rest of the code. The ternary isn't needed for how JSX works this is the common patter:
```{search

[2017-03-06 16:54] reficul31 commented on #54
@obsidianart @Treora

So I guess a boolean will work with it what we are trying to implement here??
Also an icon component should be in its own file or I can make it in the same file as overview.jsx?
Ps. We can create like a universal icon component with something like this
[code]
This allows for future devs to make icon components easier

[2017-03-06 17:14] RajPratim21 commented on #26
I plan to take on this issue.

[2017-03-06 19:23] wimpykid26 commented on #21
Hello @oliversauter @Treora . What I did was:

call `searchPages` present in `src\search\find-pages` which returns all the entries corresponding to a give query.

mapped them into an array containing every doc._id and doc._rev.

for each doc._id call db.remove() and delete corresponding entry from the table.

![screenshot from 2017-03-07 00-45-41](https://cloud.githubusercontent.com/assets/2001319

[2017-03-06 19:36] Treora commented on #54
For now we do have the possibilities that multiple searches run in
parallel, so a counter may be needed.

@obsidianart: I think the only problem is the computational load: when
search results are received, the code discards them if they seem to have
become irrelevant, so if I implemented that correctly it should not
cause incorrect results (see the actions linked above).

[2017-03-06 21:18] obsidianart commented on #54
great. Observable solve this problem in an elegant way but I wouldn't suggest worrying about it now. All good for me, counter it's probably a good idea in this scenario.

[2017-03-06 22:09] RajPratim21 commented on #26
I plan to take on by implementing the basic text search by implementing the querry parser.
1) (text message to numerical value) first to get the intent of the message and then mapping the intent to some key words and getting the time bound. let's calll it querry_period.

2) As of after studying the code what I understood , that search/index.js fetches whole data till  defaultResultLimit  (30 in ou

[2017-03-07 00:45] colsondonohue commented on #44
In order to filter out quick scrolls, you could [debounce](https://davidwalsh.name/javascript-debounce-function) the function being called when onScroll fires. This will prevent the function from firing until the rate of scrolling has slowed down/stopped, depending on the wait time chosen.

I'm envisioning something where, on hovering over each card, the card expands such that the small screenshot

[2017-03-07 02:49] mangalutsav commented on #41
So can I start working now, I think we should go with [Levi](https://github.com/cshum/levi)

[2017-03-07 03:21] reficul31 commented on #54
Right now should I make some sort of an animation of loading or just a simple loading now??
Also should it be like beneath the search bar or like a very flamboyant animation in the middle of the page?
![screenshot from 2017-03-07 09 14 27](https://cloud.githubusercontent.com/assets/19486491/23640933/a0130e5a-0316-11e7-8a3d-ac3aae4c51e3.png)

Right now I am making an animation that looks something

[2017-03-07 08:36] blackforestboi commented on #41
Hey @mangalutsav

Thanks for your offer to take it on. :)
Can you elaborate why Levi is the best choice for you?

[2017-03-07 13:36] anona-R commented on #52
I will open a PR soon on this 👍

[2017-03-07 14:00] blackforestboi commented on #52
@Treora

I just tested it also on Firefox and have the same issues. Might be ok to make the choice for now and let people make a decision later on.
With the PR @uchithaR just made it also not working, so it does not really solve the issue of being able to open multiple ones quickly.

MIght not be the most common use case after all. Still, i would leave the open-in-new tab for the reason that if pe

[2017-03-07 15:25] reficul31 commented on #16
I would like to assist @aquibm in this issue. According to what I understood from the issue description we need to make 3 components first one being a blacklist component, a shortcut settings component and one main component.
According to me the steps to undertake are.
1. Go over the design of the already existing settings component
2. Design the new components that fit the theme of the settings c

[2017-03-07 16:50] Treora commented on #54
As for any contributor, do what you what you judge to be best, then tell us about it. :)

I wonder if the previous results should still be visible while the new ones are loading though.. That's why I thought of putting a small animation besides the query input bar. But as said, if you make something convincingly prettier than what I had in mind, that's totally fine too.

[2017-03-07 17:02] Treora commented on #52
@oliversauter: Hah, I know what causes the issue for you: Cmd key is mapped to the Meta key, which I [used for debugging](https://github.com/WebMemex/webmemex-extension/blob/4ab650850cecdc66b94eb64cb21da798815cef48/src/overview/components/VisitAsListItem.js#L20). Will change this.

[2017-03-07 17:08] Treora commented on #52
Doing the debugging on ctrl+meta now, as it seemed quite a handy feature to keep. I hope that is not needed for something..? (opening in a new window is cmd+shift on Mac, I suppose?)

[2017-03-07 17:14] Treora commented on #44
Something like that seems right indeed. Possibly @RohanMishra97 had a point though:

The same idea of debouncing or some kind of filtering could still be used of course. May need a bit of testing to find out what works nicely, or some research to see if somebody tackled this problem already.

[2017-03-07 17:31] gastonche commented on #50
I'll get work on this right away. So if i understand the task well, i'll have to listen for  onHistoryStateUpdated on the broswer and use it to add a new page to the extension.

[2017-03-07 17:59] blackforestboi commented on #44
I just found this: https://github.com/williamngan/roll

They also have a nice demo: http://williamngan.github.io/roll/demo/index.html

[2017-03-07 18:01] blackforestboi commented on #52
Sometimes its the simple things :)

on mac it does a right click and opens the context menu. Seems less problematic, didn't even know I can open the right click menu like that.  :)

[2017-03-07 18:08] obsidianart commented on #52
on mac is cmd+click for chorme

[2017-03-07 18:12] blackforestboi commented on #52
You mean it's only a command in chrome?

[2017-03-07 19:32] reficul31 commented on #54
I have sent a [PR](https://github.com/WebMemex/webmemex-extension/pull/57) on my view of how the issue should be resolved. Currently when the searching query is typed it plays the loading icon and the results in the list below disappear. The loading icon is a simple 3 dot loading icon which go up and down out of sync. I hope my approach towards the problem was correct. Feedback on the design of th

[2017-03-07 19:43] colsondonohue commented on #28
To me, it seems like this would be used immediately upon import of history/bookmarks, where there would already be pageDocs and visitDocs in the db.

Instead of passing in the url, the function could take an object with the url and the id. That way the function would still get the url, but would also have the id in order to modify the existing db entry. What I'm thinking is that in `importHistory`

[2017-03-08 00:05] Treora commented on #28
That would be the primary use indeed.

It could indeed accept a page (or pageId) instead of a url. I am however
not sure if the imported page should be updated.. Working on
deduplication, I came to think it is cleaner to create a new page object
instead, as you will download the current version from the URL, not the
one that was originally visited and that the page from the history
represents (unl

[2017-03-08 01:14] colsondonohue commented on #28
@Treora Okay, your approach makes a lot of sense. I can get started on that.

to get its URL from the html itself (or use default '/favicon.ico'
otherwise).

I found [an npm module](https://www.npmjs.com/package/favicon) to retrieve the url of a favicon given the url of a webpage. Could be preferable to trying to reinvent the wheel.

[2017-03-08 01:55] reficul31 commented on #17
I would like to take up this task. From what I understood from the description and the corresponding ref link we are supposed to make a UI/UX for importing the bookmarks and history from the back end and show the progress.
@Treora
I have a couple of questions regarding the issue.
1. The ticket is regarding UI/UX. Am I correct to assume the back end is done?
2. Where should the components be placed

[2017-03-08 09:34] blackforestboi commented on #28
instead, as you will download the current version from the URL, not the
one that was originally visited and that the page from the history
represents

How is this handled when the user is searching with a time filter? When I am searching for a page, I know I have visited it, say 2 months ago. Do I find it when filtering for the "2 months ago" or is it stored with a time stamp of the time of the im

[2017-03-08 12:38] Treora commented on #28
Fair question, but when searching for when you /visited/ a page, I
suppose we should filter the by timestamps of the /visits/, not the
pages. A page could also have been visited multiple times, so its single
timestamp is not such a meaningful thing in that regard. I regard it
mainly/merely as a version tag for URLs.

The search process becomes a bit more complex through such a design that
keeps pa

[2017-03-08 12:58] mangalutsav commented on #41
probably because it's code is easy to understand but I realize now that it is a dead project so search-index is also good as it is relatively more active and has well defined api

[2017-03-08 13:35] blackforestboi commented on #38
@Treora Good point, might be something that we can postpone for later.
The only use case I see it as useful to pause is that the extension is still usable while doing incognito research.

[2017-03-08 15:04] Treora commented on #52
Assuming the Cmd+click works again now, I am closing this one, as I still think the choice should be up to the user. Having a link that always opens in a new window reminds me of those websites that want to keep you on their site, and feels like a bad practice.

As for this, for now one can just open results in a new tab by ctrl/cmd/middle-click. At some moment we can also make the search query pa

[2017-03-08 15:04] #52 closed

[2017-03-08 15:08] Treora commented on #38
Ok, closing this for now then.

[2017-03-08 15:08] #38 closed

[2017-03-08 15:55] blackforestboi commented on #41
@mangalutsav

I think it is important that we make a good evaluation of the search technology to implement, because it will have many implications and will take a while to implement.

Therefore, it would be great to hear a little bit more on how you evaluate your choice, taking into account the requirements mentioned in the initial post. (Obviously if you have other requirements that you think are

[2017-03-08 17:19] RajPratim21 commented on #26
I have sucessfully implemented time search as can be seen  this is my default tab history regarding You Tube as it's very popular. I ussually use it.
![compare](https://cloud.githubusercontent.com/assets/15442871/23714911/ecfd9ace-0450-11e7-844d-3a5f316453c4.png)

with current fuctionality integrated . I have initially left a default search by last 25 minutes . So we can see though there are many

[2017-03-08 17:32] blackforestboi commented on #26
Hey @RajPratim21

Great stuff, thanks for implementing this so quickly!

I think the date picker would be a very good next step.

As for your questions regarding the language parser, [here is the library](https://github.com/wanasit/chrono) that is currently in use by the WorldBrain extension.

Also another good thing to look at is how WorldBrain currently recognises that the language inside the qu

[2017-03-08 17:40] RajPratim21 commented on #26
@oliversauter yeah surely my next step will be towards integrating the date picker and will also work with the natural language parser and that "yesterday's searches on You Tube was jsut my way of speaking as I was  short of vocablary" definetly the from to way is lot more intutive , and if I will proceed it in the simpler way.
Thank you for your feedback.

[2017-03-09 09:49] gastonche commented on #15
Please i would like to know if this issue is still a problem, so that i may work on it. Thanks

[2017-03-09 11:46] mangalutsav commented on #41
@oliversauter I understand that, so I will evaluate all the options that are available

[2017-03-09 12:07] Treora commented on #15
Still to be fixed indeed, thanks for getting at it. Not sure exactly which event to listen to to be 100% sure the promise is cancelled when the page is changed, so have a look first what options are available.

[2017-03-09 12:10] gastonche commented on #15
okay i'll try various options until we get to a good fit

[2017-03-09 12:44] blackforestboi commented on #17
@reficul31 this is a somewhat bigger task and I would be rather giving it to a newcomer, as there are still some people we want to see how the collaboration works.
Thanks for your proactivity to help on that.

The backend is not fully done, so for now, a first version would just be a dummy page work-flow.

[2017-03-09 13:19] alxmiron commented on #17
@oliversauter I'm a newcomer and I'd like to work on this feature.
Task: implement an extension page for importing browser bookmarks and history into db, with startand stop buttons, progress animation.
Proposed page layout: like on setting page
![memex-blacklist](https://cloud.githubusercontent.com/assets/10484318/23751396/d1810afe-04d9-11e7-9dc5-577140f627bb.gif)

[2017-03-09 13:21] blackforestboi commented on #17
Hey Alex!

thanks for the phone call today and for your quick engagement.
Looking forward to your implementations.

[Here](https://github.com/aquibm/webmemex-extension/commits/master) is the code of @aquibm that includes these designs.

Best,
Oliver

[2017-03-09 14:23] BigBlueHat commented on #13
@Treora you can setup a `file:///` access permission and then folks can just visit the file (drag it onto an empty tab) to visit it...assuming the browser can view it. Would that do what you have in mind?

[2017-03-09 14:24] BigBlueHat commented on #13
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Match_patterns#scheme

[2017-03-09 16:40] Treora commented on #13
I have been wondering whether using the file: scheme is a viable option.
I have the impression that it has got little love from browser builders,
and I would not be surprised if we would discover some thorny issues
with it. And at least user experience would be hard to get right. For
example, a jpg image usually opens in the browser itself, while dragging
a spreadsheet onto a tab would trigger a '

[2017-03-10 12:08] mangalutsav commented on #41
elasticlunr is the best choice if we don't have much worry about memory, it is much better than lunrjs in terms of speed it's query time is on par with elastic search
http://fiatjaf.alhur.es/js-search-engines-comparison/
You can see here lunr is one of the fastest and elasticlunr is even faster
If we are aiming for high speed we should go with elasticlunr, I am still to evaluate fullproof and sear

[2017-03-10 12:15] mangalutsav commented on #41
[fusejs](http://fusejs.io/) can be a good choice as it is comparable in speed with lunr and fetch top result faster even in large db, fullproof is very slow as compared to these, I don't think search-index can be run in-browser

[2017-03-10 14:26] Treora commented on #41
@mangalutsav:**That search engine comparison looks great. I would love
to see such a comparison for a data set with larger texts than just
single words, with the ones we discussed above. I would not run all of
them in parallel though, but one at a time. In case you feel like trying
to make this for one or more of the libraries, I'd be very interested to
see the results.

Citation needed. Have you

[2017-03-10 15:41] BigBlueHat commented on #13
There is an exploratory [File and Directory Entries API](https://wicg.github.io/entries-api/) with some level of support in Firefox and inside the `webkit` namespace: https://developer.mozilla.org/en-US/docs/Web/API/File_and_Directory_Entries_API

Not sure, though, how that works with extensions...or if it does at all.

Your upload plan is still probably the best. Especially when replication and s

[2017-03-10 16:22] Rohanhacker commented on #25
Hey can I change ResultList to a class component as I have to get scroll position for last li for infinite scroll. for eg. when last element get to a certain distance from top then it'll get prev 30 results and append it to searchResults ? @Treora @oliversauter

[2017-03-10 16:24] mangalutsav commented on #41
As of fullproof it uses search function provided by browser and that is not as fast as the rest of method and search-index was my mistake I got confused by reading the documentation, I will try implement a comparison for large database

[2017-03-10 16:37] mangalutsav commented on #41
Can you provide me with a sample database?

[2017-03-10 16:47] mangalutsav commented on #41
I found this [lunrjs example](http://lunrjs.com/example/) indexes 100 stackoverflow questions, some of which are relatively long.

[2017-03-10 16:53] Rohanhacker commented on #14
can I work on this I am a newcomer ?

[2017-03-10 17:32] blackforestboi commented on #41
@mangalutsav We need a dataset that has at least 100000 entries to really test if it they are working well.

Maybe you find a suitable data set in the Wikimedia DB: http://dumps.wikimedia.your.org/

[2017-03-10 17:41] blackforestboi commented on #14
Yes, good one. As discussed in the call, feel free to take it on!

[2017-03-10 18:18] Treora commented on #41
@mangalutsav: awesome if you take this up.

Searching 100k docs would be nice indeed. I would start testing with a smaller amount though, then perhaps make a switch to change to the big challenge.

[2017-03-11 03:04] mangalutsav commented on #41
I will be testing lunrjs, elasticlunr, fusejs and search-index

[2017-03-11 10:56] wimpykid26 commented on #21
@Treora any thoughts?

[2017-03-11 11:08] wimpykid26 commented on #39
@Treora @oliversauter in reference to https://github.com/WebMemex/webmemex-extension/issues/29

How do we differentiate if the entry in the model is a bookmark. Is only the nonce used to differentiate between a bookmark and other entries?.

[2017-03-11 11:11] blackforestboi commented on #39
@wimpykid26 We'll discuss about it today.

[2017-03-11 11:14] Treora commented on #21
Instead of an array of id+rev, you could also just pass the whole page doc to `db.remove`; may result in slightly simpler code.

I noticed I was wrong about what I said earlier:

This function is still to be added by the deduplication PR (#60), so it will be there soon. You could try to rebase onto that branch and use it already.

When you have code that you think is good enough for merging (worki

[2017-03-11 12:47] Rohanhacker commented on #14
How does it look?
![screenshot from 2017-03-11 18-13-03](https://cloud.githubusercontent.com/assets/9512969/23823356/a361dda2-0686-11e7-8b29-7d8ed0accc52.png)

[2017-03-11 13:11] blackforestboi commented on #14
Nice! that was quick. Looks great.
As a bonus it would be great to show the visit time as well. so like `10/3/2017 3:30pm`, if that is easily possible.
Also it would be cool, if the first result would show something like "Show all results (10)" Whereas 10 would be the number of results that have been found and it would link to the search overview with the same query and the 10(?) results.

Does th

[2017-03-11 13:24] vaibsharma commented on #27
Sorry @Treora  @oliversauter  for the delay . I was busy with my university exams .
Is this issue is not mandatory for now or someone is working on it ?
If not .. then can I again start with it ?
Edit : I didn't see your comment in the PR page . Okay then I try to take on the another issue .
Thanks

[2017-03-11 13:57] Treora commented on #14
Nice indeed!

I suggest to use src/utils/nice-time.js for the date/time, so it shows
the time for recently viewed items, and only the date for older items
(its behaviour could still be tweaked). The rest of the code uses this
too, making it nicely consistent.

Good idea.

[2017-03-11 14:23] Rohanhacker commented on #14
time can be easily done but I am not sure how one can modify redux store from a background script ??

[2017-03-12 10:04] oliversauter opened #64 "Represent search query in the url of overview"
Right now, when opening the search overview, it has no url whatsoever. Also when typing in a search query its not represented in the URL.

I think it'll be helpful to represent the search in a url, as it is a common work flow and also would help to link to the search results from the address bar.

[2017-03-12 11:09] Rohanhacker commented on #64
I don't think it's possible

[2017-03-12 11:14] Rohanhacker commented on #64
the absolute path of overview is something like this chrome-extension://<extensionID>/overview.html
but I am not sure if one can represent it.

[2017-03-12 11:24] Rohanhacker commented on #39
can I work on this ?

[2017-03-12 11:26] Rohanhacker commented on #16
Can I work on this ?

[2017-03-12 11:27] mangalutsav commented on #41
I seriously can't find a size of right size (300-600mb) which is of doc format they are either to big (7-10gb) or too small (10-30mb) in wikimedia so I will be searching some other source

[2017-03-12 11:30] blackforestboi commented on #16
@Rohanhacker You have to talk to @aquibm, as he has already taken it on and is almost finished with the blacklist function.
There might be an option to help on the short-cut functionality.

[2017-03-12 11:33] blackforestboi commented on #39
For now, we have not represented a bookmark as such in the data model, therefore a complete implementation is blocked.

@Treora An important question still to answer: Should we treat a bookmark as a separate object type, as for example visits or for now just as a flag inside the page object (`is_bookmark`)?

[2017-03-12 11:37] Rohanhacker commented on #16
@aquibm is there an option to help on the short-cut functionality ?

[2017-03-12 11:46] blackforestboi commented on #54
Finished with #57

Great stuff, thanks @reficul31!

[2017-03-12 11:46] #54 closed

[2017-03-12 11:49] blackforestboi commented on #53
What is the progress of this? @Chaitya62

[2017-03-12 11:52] blackforestboi commented on #45
@NimmiW @uchithaR Is there any progress for this?

[2017-03-12 11:56] shreyabhat98 commented on #44
I am a newcomer. I would like to work on this if no one's working on it.

[2017-03-12 12:00] Treora commented on #39
Separate object type.

[2017-03-12 12:03] blackforestboi commented on #44
Hey @shreyabhat98

Thanks for your kind offer in taking this on. We had a lot of interested people recently, so before starting, I'd invite you to complete the short onboarding survey.
This helps us to keep tabs of everyone involved and know which skills are present.

Also in this survey you find information regarding how to join our slack channel etc.

Here is the survey: [worldbrain.io/onboardin

[2017-03-12 12:10] NimmiW commented on #45
@oliversauter yes now we are using https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Browser_support_for_JavaScript_APIs. :) We have a issue in storing in the browser, so that data will remain even after closing the browser.

[2017-03-12 12:13] blackforestboi commented on #29
@wimpykid26 What is the progress of this issue?

[2017-03-12 12:15] blackforestboi commented on #45
@NimmiW
Where do you aim to store it in the browser? Local storage?

If I am not mistaken then this data should be stored in the DB, associated to the correct URL.
The question is only where to store it? In the visit object? @Treora

[2017-03-12 12:20] NimmiW commented on #45
@oliversauter @Treora We need some guidance for that. We hope to store in Local Storge

[2017-03-12 12:23] wimpykid26 commented on #29
@oliversauter commented on the PR, waiting for @Treora to give his feedback and suggest how I should go about making the functions generic and differentiate between history and bookmark items.

[2017-03-12 12:38] Treora commented on #64
Good to put this issue on the list. Helps indeed with searching in the address bar (#14), and to not lose the result list when using the back button (#52).

@Rohanhacker: We can indeed not change the paths, but we can however add a query parameter or fragment identifier. Something like `overview.html?q=bananas` would be fine.

Not sure whether to use the react/redux router for this. Possibly. What

[2017-03-12 12:53] Treora commented on #45
The activity-logger's background code could update the visit object to
add the end-time and spent-time of each visit. I have to think still
about how to organise this process, e.g. which side
(background/content-script) initiates the updates. It is fine if you
just find a good solution that counts the time spent, and perhaps
triggers an event upon activation and deactivation, but leave how to
repo

[2017-03-12 13:03] rachanamamillapalli commented on #53
Can I work on this task? - newcomer

[2017-03-12 13:08] oliversauter commented on #53
@rachanamamillapalli already in the making, as the label suggests :)

Here is the corresponding PR: https://github.com/WebMemex/webmemex-extension/pull/56

[2017-03-12 14:24] NimmiW commented on #45
ok @Treora We will try to modify that first according to our logic

[2017-03-12 14:55] shreyabhat98 commented on #44
Can I start working on the issue now?

[2017-03-12 15:09] Rohanhacker commented on #64
I'll give it a shot with react router

[2017-03-12 15:56] blackforestboi commented on #44
Hello @shreyabhat98

Have you done the onboarding survey, because I can't see your name on it?

Another reason for this survey is to gauge how much experience people have. Unfortunately we are currently not equipped with enough (wo)man-power to help beginners to learn JS or React.
So we expect proficiency with one or both of them.

This is because it takes quite a lot of time to do PR-reviews for

[2017-03-12 16:06] RajPratim21 commented on #26
I have successfully implemented the date-time search via using date-timepicker . it's working perfectly fine .

![success_dates](https://cloud.githubusercontent.com/assets/15442871/23833468/fcc4d7b0-076b-11e7-974f-67c1069ef8fa.png)

[2017-03-12 16:09] blackforestboi commented on #26
Nice.
If thats feasible, you can make a screencast and send it as a gif. With that we can see the whole work-flow: http://www.omgubuntu.co.uk/2016/08/peek-desktop-gif-screen-recorder-linux

PS: don't forget to plug your battery, soon empty ;)

[2017-03-12 16:27] RajPratim21 commented on #26
@oliversauter

All the feature requests are kept in mind while designing. Initially a placeholder ask user to select start date
and select end Date
![inital_placeholder](https://cloud.githubusercontent.com/assets/15442871/23833482/58dace7e-076c-11e7-9549-bc72430e7e18.png)

if user selcts none of them then the default search will be updated between present date to 100 days back.
![default_search](h

[2017-03-12 18:23] blackforestboi commented on #41
I found something here:
18.000 entries in JSON Format(14MB): http://jsonstudio.com/wp-content/uploads/2014/02/companies.zip
1 Million(!!) news articles as a DB (only 140MB large): http://www.di.unipi.it/~gulli/AG_corpus_of_news_articles.html

[2017-03-12 18:52] AlexMarvelo commented on #17
#65

[2017-03-12 20:13] RajPratim21 commented on #26
There have been one edit as earlier there was an issue the UI use to got stuck and don't seems to be updating that's why we do this in this way.

store the instantaneous value of date in MyClass.Global_start/end_date then update it in reducer via

`function handleStartChange(state, {startDate}) {
    //MyClss.Global_startDate = startDate;
    return Object.assign({},state, {startDate :MyClss.Globa

[2017-03-12 20:29] RajPratim21 commented on #26
some final changes
`function handleStartChange(state, {startDate}) {
    //MyClss.Global_startDate = startDate;
    return Object.assign({},state, {startDate :MyClss.Global_startDate})
}
`

`function handleEndChange(state, {endDate}) {
    //MyClss.Global_endDate = endDate;
     return Object.assign({},state, {endDate : MyClss.Global_endDate})
}
`

[2017-03-12 21:07] RajPratim21 commented on #26
**when none of the fields are selected**
![peek 2017-03-13 02-05default](https://cloud.githubusercontent.com/assets/15442871/23835942/0bd82d86-0796-11e7-89ac-aa1a5d11b10e.gif)

[2017-03-12 21:08] RajPratim21 commented on #26
**When just start field is selected**

[2017-03-12 21:10] RajPratim21 commented on #26
**When just End date field is selected**

![peek 2017-03-13 02-14default_start](https://cloud.githubusercontent.com/assets/15442871/23835958/54196736-0796-11e7-9e68-5c399c8d1a48.gif)

[2017-03-12 21:13] RajPratim21 commented on #26
**Similarly for only start field and both field selected**

Due to size limitation, these files are not getting uploaded but they work in similar way,

[2017-03-13 08:20] RajPratim21 commented on #26
**Start Field selected**

![default_end_date png-iloveimg-compressed](https://cloud.githubusercontent.com/assets/15442871/23846553/f5d7290c-07f3-11e7-9ffa-df0c40869a7a.gif)

[2017-03-13 08:33] RajPratim21 commented on #26
**Both fields selected**

![ezgif-2-f5fe88e0c1](https://cloud.githubusercontent.com/assets/15442871/23846918/e308932c-07f5-11e7-80ad-4a2568c67605.gif)

[2017-03-13 08:52] blackforestboi commented on #26
Great stuff. Looking forward what Gerben has to say for the code :)

Thanks for getting this run so quickly and all the sweat and tears!

[2017-03-15 08:46] Chaitya62 commented on #64
Can we use window.location.hash? or something similar?

[2017-03-15 08:48] Chaitya62 commented on #64
I' ll work on this

[2017-03-15 10:14] Chaitya62 commented on #64
#63 already address this I guess

[2017-03-15 10:23] blackforestboi commented on #64
@Chaitya62 No #63 is only to link up the search iteself with the address bar.
What is needed here is that the search query is represented as a URL, when searching in the overview.

something like `chrome-extension://adfasfsadfsadlfakfdjasdfasdf?search="test"&from="03-03-17"`

[2017-03-15 11:12] Chaitya62 commented on #64
@oliver So should I work on it also does using ```window. location.hash``` sounds good using that we can have something like ```thecurrenturl#search=searchQuery``` or something similar

[2017-03-15 12:30] Treora commented on #64
@Chaitya62: I would rather not have to manually read and write the hash, but rather use some clean abstraction to sync a designated part of the application state with it.

[2017-03-15 13:29] blackforestboi commented on #64
@Chaitya62 It seems as there is still some work to do with your old PRs? Right?
Taking the work on the Research-Engine repo into account would be the 4th mini-project you work on simultaneously :)

For simplicity reasons, I would suggest first completely finishing your old PRs.

[2017-03-15 13:38] Chaitya62 commented on #64
@oliversauter #56 is almost done but I think I'll finish that and then take this issue if no one has taken it!

[2017-03-16 00:09] Treora commented on #15
Fixed by #62.

[2017-03-16 00:09] #15 closed

[2017-03-16 03:28] reficul31 commented on #10
Please correct me if I am wrong. How about having a session id associated with every session of the user? Every link opened by the user will contain the session id and can help map the whole session using that session id. For example if we want to find the pages opened when then user was online Tuesday between 2:30 to 3:30. We can query the database and find all the pages with the same session id

[2017-03-16 06:12] Chaitya62 commented on #53
@oliversauter. PR review is left

[2017-03-16 09:59] blackforestboi commented on #15
Congrats @gastonche to your first Merged PR :)

[2017-03-16 10:34] gastonche commented on #15
Thanks @oliversauter

[2017-03-16 12:53] Treora commented on #10
Giving each browser session an id is something we may do also, mainly
for technical reasons as a session does not have much conceptual meaning
(people may restore tabs and continue with a previous session, and vice
versa one can do very unrelated tasks a single browser session).

This issue is really about tracing the steps from page to page, i.e.
tracing link clicks. Much more knowledge and assoc

[2017-03-16 15:12] reficul31 commented on #10
Sorry for misunderstanding the question. How about we add a listener on each <a> element of the page.
Eg
[code]

Could this possibly work for linking the pages? I would like to make an initial implementation of this if this idea is approved and as soon as my current PR is closed.

[2017-03-16 16:06] davidemdot commented on #9
There is a bash script in the Chrome documentation for automating the packaging of a Chrome/Chromium extension.

You can have a look here:

https://developer.chrome.com/extensions/crx#scripts

[2017-03-16 16:15] davidemdot commented on #53
Hi, @oliversauter,

Last message means this issue is free now?

[2017-03-16 16:18] Chaitya62 commented on #53
@davidemdot no I am working on it

[2017-03-16 16:24] davidemdot commented on #53
Sorry, @Chaitya62, I misunderstood you.

[2017-03-16 16:53] Treora commented on #10
I hope such listeners are not required. Following up on the initial issue description, I see two ways to get the information from the browser itself:
- Combine info from two events. Perhaps it works to listen to [webNavigation.onBeforeNavigate](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/webNavigation/onBeforeNavigate) and check the current tab's current URL, and then listen to [

[2017-03-16 17:06] Treora commented on #9
Ah nice, thanks @davidemdot. I tried using Chromium itself for packaging, either through the GUI (in chrome://extensions), or command line:
`chromium-browser --pack-extension=./extension --pack-extension-key=../extension.pem`

Whichever way works seems fine to me.

[2017-03-16 18:22] #14 closed

[2017-03-17 00:18] #53 closed

[2017-03-17 04:39] mangalutsav commented on #41
Sorry for the delay, i will finish it by tuesday got some major quizzes and assignment

[2017-03-18 04:20] Rohanhacker commented on #64
how does it look ?

![peek 2017-03-18 11-57](https://cloud.githubusercontent.com/assets/9512969/24069642/7d3f0a9a-0bd2-11e7-9daf-28fd98ef062c.gif)

[2017-03-18 10:34] Treora commented on #64
Looks good! (I'd follow the convention of most search engines and use
`?q=...` instead of `?search=...`, but that is a triviality)

In this issue, the look from outside is the easy part however; the
question is how the code looks. ;)

[2017-03-18 16:03] Treora commented on #22
Basic implementation provided in #60, closing this now. Improvements can be added as new issues.

[2017-03-18 16:03] #22 closed

[2017-03-19 12:12] NimmiW opened #71 "Suggestion: Travis CI integration"
This is a suggestion.

If we can implement a continuous integration for webmemex, I think it would be beneficial for the developers.

Any comments or thoughts about that?

Since I am new to open source, your thoughts help me to improve me :)

[2017-03-19 12:28] obsidianart commented on #71
it would be useful, especially if you would be able to do the github integration and run test before merge :)

[2017-03-19 12:29] obsidianart commented on #71
check with @oliversauter , there's already a plan for CI

[2017-03-19 19:32] blackforestboi commented on #71
@danrl is taking lead on mentoring this as a GSoC project.
Here is the Gitbook we use to document our testing efforts: https://www.gitbook.com/book/worldbrain/project-ideas-continous-integration-pipeline/details

[2017-03-20 05:37] danrl commented on #71
TravisCI integration sounds nice, but what tests do you like to run? It's the lack of tests that we have to tackle first.

[2017-03-20 09:16] obsidianart commented on #71
Even one test would be good, or just compile it. They are 2 problems and it's good to address both.

[2017-03-20 12:08] Treora commented on #71
I have little experience with CI, and I may yet have to understand the current relevance of it for this project, but I would be happy to help set things up if any of you want to take the lead.

My first question is: what exactly would we want to achieve here? The ability to check if your PR breaks things when merged? Making the health of PRs/branches visible to everyone?

My thoughts on this, feel

[2017-03-20 12:21] Treora opened #72 "Add a linter"
To automate code quality checking.

- [x] Choose a linting tool (JSHint, ESLint, ...?).
- [x] Configure it to what seems a good coding style; preferrably endorsing some existing standard.
- [ ] Run as a check in `make test` (yet to be created).
- [x] Run and print warnings in `make build`.
- [x] Run and print warnings in `make watch`.

[2017-03-20 13:46] obsidianart commented on #72
I would try to have a linter which autofix things (like tabs and spaces) when you commit

[2017-03-20 21:02] reficul31 commented on #72
I would like to take up this issue as I have already made some headway after having a brief chat with @Treora . According to me the steps to follow are.
1. Observe and document the coding style
2. Make a ESLint config file with the coding styles observed
3. Bootstrap the linter and run tests for all the packages already made.

I intend to do this as an experiment to get to know the coding style a

[2017-03-20 21:15] reficul31 commented on #71
As the code base gets bigger and bigger and more new code is getting pushed into the repo, we want to make sure we always have backward compatibility(none of the existing code breaks on adding the new code). According to me we should try and setup basic tests for all the main features of the extension and also make tests for the front end so as to make a more stable and clean code base.

True. But

[2017-03-21 08:28] obsidianart commented on #71
I agree with @reficul31 on all points.
About the linter, I don't think it has anything to do with this. Linting, in my experience, only slows down people and never catches real code issue (architecture, complexity, etc).
I would, on the other hand, adopt an autolinter for trivial things like tabs/spaces etc.

[2017-03-22 18:45] Chaitya62 commented on #71
I think [semaphoreCI](https://semaphoreci.com/) is also a good choice.

[2017-03-23 03:32] Rohanhacker opened #73 "Error Loading extension"

[2017-03-23 03:52] #73 closed

[2017-03-23 04:58] reficul31 commented on #72
Following my experiment I have tackled some problems. As per the suggestion by @Treora I found a standard we should use for the project, but right now the code is not at all consistent. As I see it I can go two ways. Either fix the code to suite the style or fix our own custom standard which again has some problems as the code isn't consistent throughout.
Any feedback will be extremely helpful. To

[2017-03-23 16:31] RajPratim21 commented on #26
I have resubmitted PR #74 fot it.

[2017-03-24 07:36] RajPratim21 commented on #26
@oliversauter , @Treora
I have added the natural language parser by using moment.js as  it supports various languages, intially I am using only those functionalities like "yesteday", "r days before last month",  etc so as to get the startDate of the range and end Date is taken as either current Date or date selected by date -picker, that from to statement is not implemented yet, but present parser

[2017-03-25 00:20] Treora opened #77 "Making precise links when copying content"
Instead of just linking to a whole document, people should be able to link to a specific piece of text (or any content, ideally) in that document. The recent Web Annotation standard provides a way to create such precise references, and copy&paste and drag&drop would be good interactions to create such links with.

The most obvious situation in which such a link should be created is when one quotes

[2017-03-25 09:10] RajPratim21 commented on #41
hey @oliversauter can you give me the fields in the 14MB JSON data provided by you.? Otherwise I am using one default data providede by elasticlunr.js

[2017-03-25 18:27] Treora opened #78 "'Freeze-dry' web page archiving"
## Background
People should be able to keep web pages they have visited. The usual practice of just keeping the URL of the page (e.g. when bookmarking) is problematic. Pages are served in a single remote place, and have no versioning information, so one has to rely on that single authority to keep a document available. Browsers have always had a 'save page as..' option, but has had too little love

[2017-03-26 08:27] blackforestboi commented on #41
@RajPratim21

It's 2 comments before :)

https://github.com/WebMemex/webmemex-extension/issues/41#issuecomment-285963457

edit: I misread your post, sorry.

I would have suggested just choosing the ones with the most text content. And maybe some with a date and title.

[2017-03-26 09:48] RajPratim21 commented on #41
@oliversauter I have completed my analysis on comparing elastic lunr and search-index, I will prepare a short report on them , and present the details of analysis. In a brief for a data set size 32 MB elastic lunr performes better , search-index initial one time loading time is huge which is required to be done just once but in comparisom elastic lunr performs exceptionally well,.
elastic lunr is

[2017-03-26 12:41] blackforestboi commented on #41
@RajPratim21 Great stuff, thanks for testing it out!

Seems like elasticlunr.js might be suitable for implementation.
What downsides could you find with elasticlunr?

Is the size of the index a problem? It grows by almost 20% compared to the base file.

@Treora

@arpitgogia mentioned we might be able to partially store the index to the hard drive (maybe according to time, so keeping only the last

[2017-03-26 13:28] blackforestboi commented on #78
Could it be that SingleFile is not open source? At least they share no license.

I also found the MHTML format: https://en.wikipedia.org/wiki/MHTML
It is supported by all browsers.

Mozilla also has a project/addon:
- https://addons.mozilla.org/en-US/firefox/addon/mozilla-archive-format/

[2017-03-26 14:25] Treora commented on #78
It is [GPLv3](https://github.com/gildas-lormeau/SingleFile/blob/b66c10840a04e410e4365a06dafcde7388ac5997/WebContent/COPYING) licensed.

I forgot about MHTML altogether; I like how it allows bundling multiple files while giving space for their original URLs and other metadata. It seems badly supported however, and without support it cannot be interpeted as a normal html file (it is formatted as an

[2017-03-26 14:53] blackforestboi commented on #78
Oh :) not where I expected that file.

What a pity. Thanks for explaining.

[2017-03-26 16:37] RajPratim21 commented on #41
plotted Data Red one is for elastic lunr, blue for search-index time is in milliseconds  ![data_ploting](https://cloud.githubusercontent.com/assets/15442871/24333109/4a3a5650-1270-11e7-9ccc-3646cb8293f4.png)

Data file strings these were tested by order
[datafile.txt](https://github.com/WebMemex/webmemex-extension/files/870884/datafile.txt)

[2017-03-26 16:46] RajPratim21 commented on #41
@oliversauter  elasticlunr l it's pretty fast, easy to implemennt and can be integrated with external apis and allows to tweak stuffs(it don't remain as a black box), can be integrated with PouchDB and about Downside
well, like you noted the index file do increases by some percentage, but we can reduce it by storing just top ngrams for each docoment , which will also boast performance, And also to

[2017-03-26 20:58] Treora commented on #41
Nice work @RajPratim21, looking forward to see your exact setup and results.

@mangalutsav: did you by any chance get around to run some tests as well?

[2017-03-27 05:01] mangalutsav commented on #41
yup, I agree with @RajPratim21 elastic Lunr is fast, scalable and compaitable with pouche db

[2017-03-28 13:16] Rohanhacker commented on #36
Is there anyone working on this?

[2017-03-28 13:52] #26 closed

[2017-03-28 15:24] Treora commented on #36
I forgot this issue was still around; it overlaps completely with #21, so I'm closing it.
A first start on forgetting a page was made in #67. Before the aspect of blacklisting can be added #20 should be finished.

[2017-03-28 15:24] #36 closed

[2017-03-28 15:33] mangalutsav commented on #78
Can't be use pdfs, they are supported by all the browser and are easy to read and edit

[2017-03-28 15:48] blackforestboi commented on #36
I don't think they are one and the same. Here its more about the UI for the Quick Blacklist. But indeed the other features need to be finished first.

May have to be reopened later again.

[2017-03-29 10:01] RajPratim21 commented on #41
@Treora @oliversauter  I have reduced the index size from 38 MB to 24 MB for data size 32 MB by keeping parameter `index.saveDocument(false)`
it further enhance the performance by bringing seaching time to on an average 25-30 Milliseconds .without Query boasting. http://elasticlunr.com/docs/index.html

[2017-03-29 10:11] blackforestboi commented on #41
Great stuff :)

So the difference between `false` and `true` are that the first only saves the fields that need to be indexed and the latter all fields, even if they are not part of the searchable fields?

[2017-03-29 11:11] RajPratim21 commented on #41
yes. @oliversauter

[2017-03-29 17:20] ikreymer commented on #78
Hi @Treora, glad to see this project taking off! We chatted not too long ago about possible collaboration.

I just wanted to throw in a few suggestions/thoughts about formats. In the web archiving world and with Webrecorder project, the WARC format is pretty standard. There is also the HAR format (http://www.softwareishard.com/blog/har-12-spec/), which is supported by at least Chrome and Firefox.

[2017-03-29 23:34] Treora commented on #78
@ikreymer
Hi Ilya, thanks for popping in and thinking along!

Saving and replaying transactions like you do with WARC (or HAR) is indeed the right way to archive content as truthfully as possible. However, for a few reasons my idea is to now take a different approach, and save the rendered DOM instead.

1. It seems impossible to do register transactions from a browser extension; the API in link yo

[2017-03-30 17:08] reficul31 commented on #72
So I have made some significant progress. I have already added the eslint extending the standard config provided by default. I have also integrated the eslint-react plugin to allow jsx to be parsed. To see the [progress](https://github.com/reficul31/webmemex-extension/tree/issue_72). If I could get the go signal to refactor the styling I will start off by changing the style of the src module first

[2017-03-30 18:08] Treora commented on #72
@reficul31: Good progress indeed! I would not mind changing some code style by the way, e.g. using two-space indentation is fine with me if those standards all do that too.

I just did quite a refactor to use the async/await syntax throughout the code. Shall we first merge that and then fix the styles?

[2017-03-30 19:30] reficul31 commented on #72
@Treora I just now added a bit of cleaned code. Please review it once you are free and see if the style suits the project.

It has been changed in the most recent commit. Also it doesn't matter as soon as we put an editor config in place the indentation error will be sorted out itself.

Sorry, I didn't look at the comment until it was too late. I will rebase the branch and push again.
Please tell

[2017-03-30 21:33] obsidianart commented on #72
@reficul31 are you manually fixing those file or using autolint?
http://eslint.org/docs/user-guide/command-line-interface
``` --fix    #Automatically fix problems```
I would be nice to add the autolint in the pre-commit hook so we don't have to worry about writing linted code.

Also, please be extra carefull about naming the commit for the linter correctly so we can use hyper-blame (https://common

[2017-03-31 04:08] reficul31 commented on #72
@obsidianart Yes, the CLI tool for the eslint is being used to fix trivial errors such as spaces and curl braces. Although for more serious warnings and errors manual tweaking will need to be done. Although the plan for later is integrating the standard js lib to allow more CLI tools as suggested by @sanjo .

I will look into it and try and try and integrate it. Although I highly suggest running t

[2017-03-31 11:45] obsidianart commented on #72
@reficul31 the pre-commit hook do run on the local machine

[2017-03-31 11:45] Treora commented on #72
@reficul31: I just pushed the conversion to async/await syntax (#81), apparently I forgot pushing that yesterday. We should rebase one of these two style changes onto the other, either way around.

As for style itself, most of it looks like an improvement. A few questions already:
- you specified dangling commas to be required/acceptable, but they are still removed from the code?
- you add `es-plu

[2017-03-31 12:05] reficul31 commented on #72
@obsidianart

Yeah I figured that out a bit later after I read through some docs.
@Treora

I will try and rebase the branch, if I have some problems I will seek help.

I don't remember specifying dangling commas as acceptable. But we can if you think it hinders with your style of coding. This specific line of code means that it will give an error on every comma dangle except when a dangling comma

[2017-03-31 12:56] Treora commented on #72
As for dangling commas, I would rather require than forbid them; setting `comma-dangle` to `always-multiline` seems good. As for operators and linebreaks, setting `operator-linebreak` to `before` would have my preference.

Let know which things you would like help on.

[2017-03-31 13:28] reficul31 commented on #72
@Treora

Both the configurations were added successfully. Although it messed up my commit log.

Could you please pull the branch and try the lint on your machine. It will give you 20 errors that I think a maintainer should only resolve as they are not design error rather they are logical errors. There are also some warnings. You could remove them from the config file all together, but I won't reco

[2017-03-31 16:05] RajPratim21 commented on #41
@oliversauter @Treora  @arpitgogia  I have completed my analysis on the search libraries elastic lunr , search-index , levi and a bit on fullproof.  Sorry for making this post a bit long but it's indeed an analysis in detials.
Data set used  https://www.kaggle.com/stanfordu/stanford-question-answering-dataset  **size 32 MB**
and have got some interestng results, (something we really needed).
**Ela

[2017-03-31 16:46] ghost commented on #72
Can you please open a pull request for this.

I suggest to go with the standard code style without modifications to save time as [argued in the standard readme](https://github.com/feross/standard#i-disagree-with-rule-x-can-you-change-it).

[2017-03-31 17:15] niroshn commented on #72
I added eslint and their configuration.

When running `npm run eslint `

It shows 54 errors and 238 warnnings

![1](https://cloud.githubusercontent.com/assets/12439172/24561224/f917f9ec-1613-11e7-9e77-eb519b6ccf30.png)

[2017-03-31 17:15] niroshn commented on #72
![5](https://cloud.githubusercontent.com/assets/12439172/24561280/272fe56a-1614-11e7-8664-caaa4d4e5fa6.png)

I added configuration for react and ES6 . I think we need to refactor code for misspell thing

[2017-03-31 17:17] reficul31 commented on #72
I am sorry @niroshannrsh . This issue wasn't integration ready. If you would like to contribute to this issue [link](https://github.com/reficul31/webmemex-extension/tree/issue_72).
This issue is still under development.

[2017-03-31 17:24] niroshn commented on #72
@reficul31 I Know . I contributed to this issue. I added eslint.

[2017-03-31 18:12] reficul31 commented on #72
@sanjo I am actually waiting for the async-await PR to be merged so that I can rebase the code base and then send the PR.

[2017-04-01 04:02] reficul31 commented on #72
As suggested by @Sanjo I have added standard, on a new branch though. The linter hasn't been run to remove the errors. Please check the configuration once so that I can clean the code.
[Link](https://github.com/reficul31/webmemex-extension/tree/issue_72_standard)
@Treora @Sanjo  @obsidianart I have provided the option for both the setups, one with [eslint](https://github.com/reficul31/webmemex-ext

[2017-04-01 04:11] niroshn commented on #72
@reficul31 Did you see my eslint config file  [](https://github.com/niroshannrsh/webmemex-extension/blob/master/.eslintrc) .

Is there any changes ?

[2017-04-01 06:48] bohrium272 commented on #41
@RajPratim21 Such detailed analysis deserved a long post :smile: . You've done some amazing work :+1: :100:
Small question, what are the X and Y axes in the graph?
@oliversauter @Treora , after concluding that Levi is a good combination of fast and low memory consumption, can we help Levi's performance by modifying our own data such that it becomes more easily searchable?

[2017-04-01 07:05] RajPratim21 commented on #41
@arpitgogia  y axis is time in milliseconds and x axis are different search querry which are lablled in integers 1,2 3..., In the file they are labeled as this.
[datafile.txt](https://github.com/WebMemex/webmemex-extension/files/887441/datafile.txt)

[2017-04-01 07:19] RajPratim21 commented on #41
@arpitgogia  @Treora  @oliversauter  levi provides support of searching through the fields , which gives better results, for example suppose our doc contains two field "title", and "text contain in the doc" then if we want full text search, we may be looking into the "text inside docs" only and may not be in "title" , if that's the case then we can boast "text" fields more, and results in better p

[2017-04-01 09:57] blackforestboi commented on #41
@RajPratim21 Yes indeed, this analysis deserves such a long post. :) Thanks for that grand work! 🎉

Sounds like Levi could indeed be a candidate.

This means we can still have full-text search for the words that are not in the n-grams?

Aaawe sweet, that was not given in the current search implementation (of Research-Engine) :)

[2017-04-01 10:20] bohrium272 commented on #41
Does this mean, that making multiple queries on different fields is faster than making one query on multiple fields?

[2017-04-01 10:38] RajPratim21 commented on #41
@oliversauter  yes we can have full text search for every word.
@arpitgogia I didn't mean exactly that and can't comment on that as I haven't tested it that way, but what I have tested is making one query on one fields is faster than making one query on multiple fields.

[2017-04-01 15:08] Treora commented on #72
I just merged it, sorry for the wait. You can also rebase onto branches before they are merged by the way, though it can become a bit messy if the branch is changed.

[2017-04-01 15:12] Treora commented on #72
@reficul31: Feel free to create a PR when you want me to look at it and go through the remaining warnings and questions.

[2017-04-01 18:17] reficul31 commented on #72
@Treora @Sanjo Could you possibly look at both the configurations and tell me which one shall be used? The two methods are on different branches.
* [Eslint](https://github.com/reficul31/webmemex-extension/tree/issue_72)
Uses eslint configuration files and eslint default eslint cli to clean the code and lint.

* [Standard](https://github.com/reficul31/webmemex-extension/tree/issue_72_standard)
Uses

[2017-04-02 08:13] Treora commented on #72
Nice. I'll have a look at them now then.

[2017-04-02 20:32] obsidianart commented on #72
If missing semicolon is a warning I wonder if the linter is configured correctly, it shouldn't be anything considering the style I've seen in the project.

[2017-04-03 17:44] reficul31 commented on #72
@obsidianart Sorry, but I don't see the missing semicolon warning. Would be specific to which rule you are talking about.

[2017-04-03 17:48] obsidianart commented on #72
@reficul31 it's in the image uploaded...

[2017-04-03 19:06] reficul31 commented on #72
@obsidianart
As I have no idea on which file the eslint is operating on in the screenshot, I will refrain from commenting. But if you refer to my [PR](https://github.com/WebMemex/webmemex-extension/pull/83). There are no such errors.

[2017-04-03 19:09] bwbroersma commented on #71
What about [drone.io](http://github.com/drone/drone.io)? It's very easy to setup and self host (I'm also a big fan of that). I'm running it for 1+ year now (since I also run my own github web clone [gitea](https://github.com/go-gitea/gitea)). It's as simple as filling in some Github API secrets in a docker compose file, see [the installation guide](http://readme.drone.io/admin/installation-guide/)

[2017-04-04 08:11] niroshn commented on #72
`I have no idea on which file the eslint is operating on in the screenshot,`
@reficul31  Add your eslint resopse massege screenshot here.

[2017-04-05 17:23] reficul31 commented on #7
Close this maybe? [Refs](https://github.com/WebMemex/webmemex-extension/pull/81)

[2017-04-05 20:32] Treora commented on #7
Yes! Always feels good to close issues. I am sometimes tempted to create issues just for the joy of closing them again.

[2017-04-05 20:32] #7 closed

[2017-04-06 09:44] Treora opened #85 "Add linter for CSS"
Probably [stylelint](https://stylelint.io/)?

[2017-04-06 10:29] reficul31 commented on #85
I was already in the process of adding one. Will send the PR soon.

[2017-04-06 12:51] Treora commented on #40
I lost track of whose commits went where, but I continued building from @reficul31's branch (#55), cleaned up the code structure, fixed some layout issues (e.g. on smaller window sizes), and tweaked the design some more:

![screenshot](https://cloud.githubusercontent.com/assets/4191409/24753093/04d19358-1ad1-11e7-9754-46b92013f093.png)

I ended up having not both a big fav-icon and a big screensho

[2017-04-06 12:51] #40 closed

[2017-04-07 04:51] reficul31 commented on #72
@Treora For the task

Might I suggest something like [eslint-watch](https://www.npmjs.com/package/eslint-watch).
I have already integrated it with the project but it doesn't run with the make watch command as the npm style ```&&``` requires one task to finish and then start on the other one. Since the watch command never ends the eslint watch never starts.We could use [concurrently](https://www.np

[2017-04-07 08:58] Treora commented on #72
Sounds good!

We could configure these things in the gulp. Perhaps by making the watch
task depend on both a build-watch (= the current watch task) and a
lint-watch.

I would not mind at all if scripts in package.json are just running gulp
tasks of the same name (and the Makefile mostly just runs those npm
scripts).

[2017-04-08 19:54] Treora commented on #71
@bwbroersma: Thanks for the Drone tip. It looks like it requires a couple of extra steps though, so I opted for trying Travis for now, as I am not even convinced yet of the added value of these build&test services.
Moving this project to a self-hosted gitea deployment is a likely future option by the way.

Travis config added in f317827, closing this issue.

[2017-04-08 19:54] #71 closed

[2017-04-12 15:14] Treora commented on #85
Done. Thanks!

[2017-04-12 15:14] #85 closed

[2017-04-18 07:51] anona-R commented on #77
I would like to try this issue @Treora @oliversauter

[2017-04-19 15:32] Treora commented on #5
Closing this in favour of #41. No use optimising things that should be replaced.

[2017-04-19 15:32] #5 closed

[2017-04-19 15:41] Treora commented on #13
Not expecting to prioritise this anytime soon, cleaning it from the list for now.

[2017-04-19 15:41] #13 closed

[2017-04-19 15:42] Treora commented on #16
Basic framework is there, blacklist is being worked on (#20), other aspects can be handled in new&separate issues. Closing this one.

[2017-04-19 15:42] #16 closed

[2017-04-19 15:54] Treora commented on #12
Let's first figure out how we want approach bookmarking at all, and then consider ways of intergation with browser's bookmarks.

[2017-04-19 15:54] #12 closed

[2017-04-19 16:26] Treora commented on #21
A trash-bin button has been added in the new layout (#55), so it should be little effort to rebase&clean up #67 and connect it to that button.

[2017-04-19 16:33] Treora commented on #24
@oliversauter: Removing this from this list, as this is worldbrain-specific and not affecting our common code base. If you need support in the webmemex code e.g. to add hooks to trigger your migration code, that could be handled in a new issue.

[2017-04-19 16:33] #24 closed

[2017-04-19 21:52] Treora opened #90 "Keep tab state in background process"
It is necessary or practical for many features to query information about tabs and the pages they show. E.g. to access the referrer page/tab, the http headers, and other things that cannot be obtained from the browser API (except in certain event handlers).

I am thinking it may be worth to make this isolated and generic, to make it reusable in other projects. In a sense it would provide an altern

[2017-04-19 23:06] Treora opened #91 "Keep tab state in background process"
It is necessary or practical for many features to query information about tabs and the pages they show. E.g. to access the referrer page/tab, the http headers, and other things that cannot be obtained from the browser API (except in certain event handlers).

I am thinking it may be worth to make this isolated and generic, to make it reusable in other projects. In a sense it would provide an altern

[2017-04-19 23:07] Treora commented on #10
Planning to tackle this when making a more general tab state keeping system (#91).

[2017-04-19 23:22] Treora commented on #25
@Rohanhacker: sorry I never replied, seeing your question now. Of course things can be changed if needed. I would be happy to hear if you got stuff working.

If nobody is on this issue, I may try tackle it myself sometime soon, the overview feels a bit incomplete without this.

It seems there are many libraries around (e.g. [react-infinite-scroller](https://github.com/CassetteRocks/react-infinite-

[2017-04-19 23:41] Treora commented on #28
@colsondonohue: Hi, you had some good thoughts on this issue; last I heard was that you were working on a 'background processing pipeline', and trying to work around some issue with jsdom. I wondered if you continued with this, or if you moved on to other things, if perhaps your code is available for others to learn from?

[2017-04-19 23:53] Treora commented on #90
Oops; it seems I accidentally created this issue twice (see #91).

[2017-04-19 23:53] #90 closed

[2017-04-20 00:27] Treora commented on #29
This issue is still waiting for (my) attention, along with several others.. It would be good to tackle a few import-from-browser-related things together (bookmark import (#29), its UI #17, filter by bookmarks (#39), maybe keeping in sync with browser bookmarks (#12), fetching&analysing the documents (#28)), but I came to realise these may not be high enough on my priority queue soon; there is too

[2017-04-20 00:42] Treora commented on #77
@uchithaR: thanks for the offer; there's no need to ask for trying things, feel free to start coding anything. I'd warn that this is quite a task though, requiring familiarity with web annotation specs etcetera.

@tilgovi: we discussed this issue quite a bit. Have you by any chance still gotten around to play with this like you were planning to?

[2017-04-20 03:51] anona-R commented on #77
i will give it a try 👍

[2017-04-20 14:32] blackforestboi commented on #29
Yes indeed I intend to get this done soon. @poltak already started exploring this. He will probably redo the whole import bookmarks from scratch, but could need some support in understanding how you thought about the current data model.

Would be good if you guys talk about your intended data model anyway, so we can collaboratively document it and that there are 2 persons understanding it entirely

[2017-04-20 15:22] blackforestboi commented on #25
@morozow relevant to you

[2017-04-20 15:22] blackforestboi commented on #21
@morozow relevant to you.

[2017-04-20 15:58] Rohanhacker commented on #25
I'll try to make it work and send a pr soon

[2017-04-20 16:12] obsidianart commented on #25
I dropped react-infinite-scroller recently in favour of react waypoint, it's a simpler implementation of the concept and much easier to adapt to what you want

[2017-04-21 05:47] poltak commented on #28
I like this idea (using an ID as the arg as @colsondonohue suggested) and being able to queue up calls to this `fetchAndAnalyse` (so also interested to see if @colsondonohue made any progress).

As it's been discussed that it should produce a similar outcome as visiting a page manually, this got me looking into the current `page-analysis` code that does that. If I'm understanding it all correctly,

[2017-04-21 05:58] poltak commented on #28
Furthermore @Treora: In response to @colsondonohue's suggestion for an ID being passed into `fetchAndAnalyse`, you said:

not sure if the imported page should be updated.. Working on
deduplication, I came to think it is cleaner to create a new page object
instead, as you will download the current version from the URL, not the
one that was originally visited and that the page from the history
repre

[2017-04-21 15:39] Treora commented on #29
@poltak: thanks for thinking along ([over here](https://github.com/WebMemex/webmemex-extension/pull/47#issuecomment-296068677))!

Correct.
Small note: I also considered to have the import-bookmarks module call the `import-history` module to import the visits to the bookmarked pages. Conceptually, importing bookmarks would then be more like: "import my history, but only the bookmarked pages". This

[2017-04-21 16:21] Treora commented on #28
RPC here means calls between the background process and content script, nothing really remote. The background process organises the logging and storage, but only the content script can access the DOM, so they have to send messages back and forth, which is hidden behind the RPC abstraction. The RPC seems to hit a bug in newer Firefox versions by the way, try it on Chrome|ium for now.

Would be nice

[2017-04-21 17:30] Treora commented on #41
@RajPratim21:
Sorry for my slow reply. I was about to reply way earlier, but got lost in doing some further research. Thanks still for the comparison! It is really nice to get some quantative impression of the performance of each.

A few thoughts:
- I don't know how much a comparison running in NodeJS tells us about the performance in browsers, as there it will use a different database underneath.

[2017-04-22 11:22] blackforestboi commented on #28
Yeah, from a user POV i also don't really consider it to be an option to open each page in a new tab, just to use the same pipeline.
This also would most definitely lead to performance problems, because each page has to be rendered and we only could fetch one page at a time.
There are other processes where background fetching is important, i.e. getting urls from external sources that need to be fe

[2017-04-22 15:02] Treora commented on #28
I don't share this view, but I am happy to go for the background-based approach if you are up for collaborating on that.

Background fetching is indeed better for use cases where disturbing the user would be undesirable (perhaps an automatic link-crawling option), that's my main reason to prefer it.

As for the duplication and search questions, perhaps read e.g. the discussion in #22 again, I thin

[2017-04-24 04:42] poltak commented on #29
@Treora thanks for all the in-depth responses across these threads.

What about bookmarks that don't appear in history? Say a user visits a page on their phone, bookmarks it, then it gets synced to their desktop browser's bookmarks, and they run import bookmarks later?

If we choose to consider bookmark data at the time they were bookmarked and want to get page data for that time (via the timestam

[2017-04-24 12:19] Treora commented on #29
Good point. The simple concept that search just applies a filter to your browsing history does not fit anymore then. We could perhaps add the act of bookmarking as an event in the browsing history to make it fit though.

In longer term it may be worth thinking what would be an intuitive way to present the search, conceptually. Now we present it as a timeline of things you visited, but the concept

[2017-04-24 16:21] reficul31 commented on #44
@Treora @oliversauter How about in addition to logging the scrolled part of the page, when the user revisits the page we give him a choice to scroll back to the position where he left off? This would come in handy in many online blogs as people(especially me) might forget how much of the document they are through reading.

[2017-04-24 16:46] bohrium272 commented on #44
@Treora if the exact scroll position is known, would it help with creating precise links( #77 ) of a page?

[2017-04-24 17:08] bohrium272 commented on #41
@Treora the index size of levi is also 1/8th the size of the data.
I think at some point there has to be a trade off between space and performance.

[2017-04-24 17:20] Treora commented on #44
@reficul31: scrolling to where you left off by default may be a nice idea indeed. At least for pages in our personal web this would be easy to do, as they are static. On the live web, doing this per URL may be annoying on changing websites (e.g. your newspaper frontpage), but doing it for the specific page version (determined by deduplication) may be fine.

@arpitgogia: Scroll position is to scree

[2017-04-24 17:26] Treora commented on #41
Ok maybe that was then meant with ["levi beats everyone"](https://github.com/RajPratim21/levi-test). I wonder why the difference between the two (and whether it is similar when run in the browser).

[2017-04-24 20:21] tilgovi commented on #77
I have not had a chance to do any work in this direction yet.

I have started setting up the repo boilerplate over at the ASF Annotator incubating project. My intention is still to start with a simple text highlighter and a data transfer polyfill supporting a constructor.

@uchithaR one thing you might consider is looking at the new async clipboard spec. It seems to have strong support from the br

[2017-04-24 20:24] tilgovi commented on #77
Well, I just dumped all those thoughts here for lack of a better place and because I want to try to communicate more, but feel free to ignore all that complexity and focus on finding a suitable way to represent the `oa:ResourceSelection` inside the HTML. It's not necessary to override any existing clipboard or `DataTransfer` features of the browsers in order to insert custom HTML into the clipboar

[2017-04-24 20:24] tilgovi commented on #77
cc @bigbluehat you should be following this, maybe :)

[2017-04-24 21:05] BigBlueHat commented on #77
@tilgovi already here. 😸

[2017-04-25 03:27] bohrium272 commented on #41
I wonder if we can use two indices. Like a small index of about a 100 MB made using elastic-lunr(fastest according to the above graph) and another index for older documents using Levi. The latter wouldn't be loaded in the RAM, rather called on demand whenever the Search **page** is used. And the former index can be used for the omni bar search.

[2017-04-27 06:02] poltak commented on #28
@Treora I've done a bit of work on the WorldBrain repo regarding the fetchAndAnalyse function part of this issue. I tried to describe the changes in [PR](https://github.com/WorldBrain/WebMemex/pull/15).

Basically it allows the fetching and analyse logic to run in the background by writing fetching logic that, given a URL, will attempt to load the DOM via XHR. Using that, the existing `extract-pag

[2017-04-28 06:39] RajPratim21 commented on #41
@Treora  I was unavailable for some time due to my exams, I believe @arpitgogia  has answered why I claimed it to be best,(it's based on comparitive performance of search and time) in our case major problem was with space  and regarding ngram-approach, I read it only in there document as advertised by them only  and when they implement tf-idf they do tokenize the words into unigrams only that is s

[2017-04-29 05:23] Chaitya62 commented on #91
Can I work on this?

[2017-04-29 12:18] Treora commented on #91
@Chaitya62: I have some vague ideas in mind about how to approach it and abstract it neatly. Feel free to show an approach if you have a nice design in mind, though I may want to do things differently.

[2017-04-30 10:53] poltak commented on #28
I have a little batch function working on my corresponding PR on WorldBrain fork. It takes advantage of RxJS Observable operators to batch up promises and run them concurrently (without running all at once). I got the idea after learning to play with RxJS, so not entirely sure it's on the correct track, but it works for all my tests so far. Feed in a Set of URL strings and it does the rest.

If an

[2017-04-30 18:10] Treora commented on #28
@poltak: looks nice on a quick look; I will try have a better look tomorrow my morning your evening.

The Rx approach may be a bit complicated, though Rx could be helpful for such tasks; the batching logic could anyway be considered a separate task from the fetch&analyse code, perhaps it is easier to discuss in a separate PR? (feel free to make these PRs upstream if you like)

[2017-05-01 00:45] poltak commented on #28
@Treora: Thanks, appreciated. Yes, agreed it should be a separate PR (will sort out today). The two tasks themselves (the batching logic + fetch&analyse logic) are very separate. The fetch&analyse logic works by itself and was written without the batching stuff as a concern. The batching logic is the stuff that implemented as an RxJS observable stream/whatever, and batches fetch&analyse promises (

[2017-05-05 13:56] oliversauter opened #98 "Import data from old extension to new DB and data model"
## Background Information

The old extension stores the data about websites (title, keyword etc) to local storage whereas the new extension has it stored in PouchDB also with a different data model.

When we update the code from the old extension to the new one, we have to make sure, that all the previous data is transferred to the new DB and data model and entries deduplicated (1 page object per

[2017-05-05 13:57] blackforestboi commented on #98
Sorry wrong repo :)

[2017-05-05 13:57] #98 closed

[2017-05-06 21:30] janpaul123 opened #99 "Export zip file with all the things!"
To have a backup if my laptop dies. 💻 🔥

[2017-05-16 03:42] poltak commented on #29
@Treora Do you already have some idea of how you plan to use the Web Annotation Data Model with bookmarks docs? From trying to understand that spec page, we would need to restructure all the docs to be something like the examples given and have them differ on `motivation` type? So for bookmarks, something like:
[code]

There doesn't seem to be any `motivation` types appropriate for `page` or `visi

[2017-05-17 04:05] Treora commented on #29
@poltak: I was thinking of something much simpler, no big structural
changes. The bookmarking 'annotation' would not have a body, which I
think the spec also suggests. Anyhow, feel free to forget about the spec
for now, we can rename properties to follow it later.

For comparison, a quick (probably incorrect) sketch of what I think a
bookmark object could roughly look like:

    {
        target:

[2017-05-26 15:52] Treora commented on #99
Valid concern indeed. A reasonbly quick solution would be to [dump](https://github.com/pouchdb-community/pouchdb-replication-stream) and [load](https://github.com/pouchdb-community/pouchdb-load) the database contents. Syncing data to a server is already on the road map, and would provide another solution.

By the way, rather than dumping/syncing the database as one opaque object, I intend the data

[2017-05-27 09:02] Treora commented on #72
This has been fixed with #83 and #87, apparently forgot to close this issue.

[2017-05-27 09:02] #72 closed

[2017-05-27 09:06] Treora commented on #78
First basic implementation added in #100.

Many improvements are still to be made, I intend to spin the code in `src/freeze-dry` off into its own repo and module at some moment, to develop and publish it independently. *(edit: it now has a [repo](https://github.com/WebMemex/freeze-dry/) and is published as an independent [module](https://www.npmjs.com/package/freeze-dry))*

[2017-05-27 09:06] #78 closed

[2017-05-27 09:11] Treora commented on #6
Fixed in 2bb4f6a.

[2017-05-27 09:11] #6 closed

[2017-05-27 09:13] Treora commented on #64
Was fixed in 4bf29cf.

[2017-05-27 09:13] #64 closed

[2017-05-30 08:00] reficul31 opened #103 "Implementation of a Testing Suite and Continuous Integration Pipeline"
This is the testing project for Google Summer of Code 2017. This project aims to setup a testing suite and continuous integration pipeline for the webmemex extension.

For the project, the testing team has decided to use the [Jest](https://facebook.github.io/jest/) framework written by facebook. To have a look at the mock testing suite([branch](https://github.com/reficul31/webmemex-extension/tree/

[2017-05-31 13:24] Treora commented on #103
Great! Thanks for taking this initiative, having tests would be splendid. I imagine that for some parts you may want to understand better how and why things work. Feel free to contact me to ask (e.g. ping me on IRC), and we could also use the answers to better document the code as we go.

As for your schedule, some parts are still so volatile that it may be too early to write tests. I would for ex

[2017-05-31 13:49] reficul31 commented on #103
@Treora Yes, I would be happy to oblige to a call with the whole team so as to align our plans and so that our project doesn't get into the way of what other people are working on. As for the schedule I will look into the current issues and PR which are unfinished and modify it right now.

Thanks for all the help. I will be sure to reach out to you in a day or two.

[2017-06-02 20:41] Treora commented on #27
Another overripe issue. Was fixed in #88 (merged in d59ce46).

[2017-06-02 20:41] #27 closed

[2017-06-02 20:56] Treora commented on #41
Current status update: we decided to collaborate on creating a new text search engine, more focussed on performance than any of the ones we know of, built for IndexedDB specifically. This is being worked on by @bwbroersma as his GSoC project for WorldBrain.

As a quick stop-gap I might just quit using pouchdb-quick-search and do search simply by running a plain stupid literal word matcher on all p

[2017-06-20 16:04] Treora commented on #2
Readability was removed again in a0b8255 (#101), as we don't use it anymore for viewing stored pages, it is too unreliable to not also store the full text, and does not seem worth the added complexity.

[2017-06-21 00:26] Treora commented on #25
Was fixed by #106; merge commit a74943a.

[2017-06-21 00:26] #25 closed

[2017-06-21 00:32] Treora commented on #41
The quick plain stupid word filter solution was implemented in #105, thus getting rid of pouchdb-quick-search. It's not beautiful, but it works for now. As said, a better search engine is in the works.
Closing this issue.

[2017-06-21 00:32] #41 closed

[2017-06-24 13:18] Treora opened #112 "Clean up file/folder organisation"
The organisation of this repo has become a bit messy over time. I intend to move some things around soon, currently thinking about these changes:

- [ ] Make clearer which code is an 'extension page' (`overview`, ~~`options`~~, `page-viewer`), what is background or content script, and what is commonly usable by any of them. Be more consistent in using (or possibly remove) the separation of `backgr

[2017-06-24 13:25] Treora commented on #9
I added a few lines to the gulp file (in 968bba4) to call `crx`. Easy peasy.

[2017-06-24 13:25] #9 closed

[2017-06-25 23:01] #46 closed

[2017-06-28 04:59] poltak commented on #112
Could put them in sub dirs of the main module's dir, like `src/overview/img`, reflecting the build `extension/overview/img` and just add entries for them into `staticFiles` in the gulpfile. Or have another top level dir for static assets mirroring the `src/` and `extension/` structures, like `assets/{overview,options}/{fonts,img}/`.

HTML files could be treated as static files in the same way, or

[2017-07-12 18:09] Treora commented on #112
Thanks still for the input. For now the question about images is solved, since there are no images anymore (using semantic-ui's icons and ditched the background). The question will probably pop up again though.

I started cleaning up in the 'cleanup' branch, checking at least some of the boxes.

[2017-07-20 11:41] Treora commented on #112
This one has been done in 124319d. The other tasks may have to wait a bit; upcoming feature developments may give a better picture of the logical grouping. I suspect the aspects of logging visits and storing pages should be more clearly separated.

[2017-07-21 16:55] Treora opened #118 "Store PDFs"
Storing should be a simple refetch (hopefully from cache).

For displaying there may be the question whether we can rely on the browser's capability of showing pdfs (preferred), or we should use our own pdfjs.

[2017-07-25 14:08] mukeshkharita commented on #50
Hello,
I was trying to solve this issue
I added this code in activity-logger/background/index.js https://paste.ubuntu.com/25170020/
but this stores the link two times
so how can I resolve this problem?

[2017-07-25 15:08] Treora commented on #50
Hi Mukesh; cool that you took initiative to fix this. My original idea of solving this with 'three lines of code' (roughly like your solution) may have been a bit optimistic however. Applications may update their history state many times, not all of which would be worth logging (exact duplicates like you report is one example). You may like to see the approach Gaston explored (#59, see [line 43](h

[2017-07-27 15:49] gpakosz commented on #41
@RajPratim21 Hello, I landed here googling for "fusejs elasticlunr". I'm curious, is there something in particular that made you decide not even benchmarking fusejs in the first place?

[2017-07-28 00:04] rfrelow opened #120 "Youtube videos stop loading after the first few seconds"
If "Store every visited webpage" is enabled, no youtube videos load after the first few seconds. Disabling this feature and refreshing fixes the problem.

I'm using Webmemex 0.2.2, found here:

https://blog.webmemex.org/2017/07/10/keep-all-the-gems/

[2017-07-28 15:19] Treora commented on #120
Thanks for reporting. I suspect this has the same cause as similar problems I recently discovered: The freeze-dry code adds a CSP (that prohibits networking connections) to the page's snapshot, but Firefox erroneously applies this also to the currently viewed page itself.

We might have to create a workaround while this bug exists, or perhaps we won't encounter this problem anymore after making ot

[2017-07-29 08:16] rfrelow opened #121 "Extension eventually stops working"
I'm using Firefox, and have "store every visited webpage" checked. After some time, the extension stops making new snapshots. If I disable and re-enable the extension, it works for a few pages then stops again. If I completely remove and reinstall the extension, it works again for some time (until it breaks).

When it breaks it looks like this, and won't work even for manually capturing pages:

<i

[2017-07-29 12:02] Treora commented on #121
Thanks for reporting. I would like to investigate, but I have no idea what would be the cause of this. So unless I would end up encountering the same problem myself, I would need to hear more information about the situation. If you're comfortable with browser consoles, you might be able to find relevant error messages in the developer console for the extension's background script (should be possib

[2017-07-29 15:42] rfrelow commented on #121
I'll play around with it more later, but here are the errors I'm getting right now. This doesn't show up when the extension is working:

<img width="1678" alt="screen shot 2017-07-29 at 8 36 55 am" src="https://user-images.githubusercontent.com/23464021/28746058-c357a38c-7439-11e7-8ccc-1d2f51168319.png">

<img width="1679" alt="screen shot 2017-07-29 at 8 39 54 am" src="https://user-images.githubu

[2017-07-30 14:46] rfrelow commented on #121
This happens roughly after a few hundred pages have been saved. Let me know if there's anything else I can provide that can help!

[2017-08-01 19:41] Treora commented on #121
That indeed looks like you have hit a storage limit. I fear there is not much we can do about that in the current setup, besides telling the user what went wrong *(edit: b613ff1 adds an error message to popup)*.

We could anyhow request the `unlimitedStorage` permission in the manifest *(edit: done in d5dd52f)*, but Firefox does not currently support this (see [MDN](https://developer.mozilla.org/e

[2017-08-03 06:47] reficul31 commented on #103
# Documentation
@Treora @Sanjo
This is in reference to the documentation of the project and all the other spinned off repos. Recently I have been looking a bit deeper into documentation of the code base. At first I was thinking of having a wiki as developer docs but as @Sanjo mentioned, it would be too difficult to change the docs for when any new code is added. So, for now I have been looking int

[2017-08-03 10:31] Treora commented on #103
Cool that you're getting to this. I would keep documentation inside the repo, among the code folders or perhaps (some of it) in a `/docs` folder. We are not big like django, it seems better to me to keep things together and keep it easily maintainable. I would use tools if they really add value and don't add maintenance effort, but I think plain text or markdown files would be fine for this projec

[2017-08-07 18:49] RajPratim21 commented on #41
@gpakosz I didn't benchmark Fuse Js not for any specific reason I didn't get time to go through that one also and spend more time studying above mentioned ones. As you mentioned in your personal email to me, you are using elasticlunr.js for a **product documentation built by a static site generator**.  it needs to be decided that how much amount of data you will be handling. Elasticlunr.js beats e

[2017-08-08 06:54] blackforestboi commented on #41
hey guys! for your information, we decided to go with search-index for now, as long as Benjamin is not finished with his slow-search library.
The corresponding PR is here: https://github.com/WorldBrain/WebMemex/pull/69

[2017-08-08 07:45] gpakosz commented on #41
@RajPratim21 Thanks for the follow up. I'm happy with Elasticlunr.js so far with index sizes `< 2MB`. I'm building the index when generating the static site, which means readers have to perform an HTTP get to fetch it to their client but makes index generation time a non issue.

@oliversauter is the rationale for going with `search-index` documented somewhere by chance?

@mangalutsav Hi, reading t

[2017-08-08 08:41] blackforestboi commented on #41
@gpakosz No, but it is fairly quick:
Its the only search library that does not run entirely in-memory and is actively under development.
We were looking for one that runs on indexedDB/LevelDB so we can handle large amounts of data in the browser. (1GB base data)

[2017-08-18 15:37] swissums opened #122 "GetBrowserInfo() is throwing error in chrome"
In omnibar.js

The

[code]

Throws an Error in chrome as the function  `browser.runtime.getBrowserInfo()` isn't supported. [see this link](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/runtime/getBrowserInfo)

I don't fully understand why the name is needed?

[2017-08-18 16:58] swissums opened #123 "Performance Issues"
### Performance Issues:
#### Import:
* The layout is throttling 14.3% of the total time to finish an import. Which means that react is re-rendering more than it needs for some reason.

* Also the Layout Tree which directly manipulates individual layouts is throttling 25.8% of the total load time.

* The dispatchOnMessage callback is throttling 48.9% of the cpu as well. After some research I believ

[2017-08-18 17:24] #123 closed

[2017-08-18 17:24] swissums commented on #123
Sorry this was in the wrong depository....

[2017-08-18 17:25] swissums commented on #122
Sorry this is in the wrong depository... meant to be in the Brainworld WebMememex

[2017-08-18 17:25] #122 closed

[2017-08-18 17:43] Treora commented on #122
This has been fixed since. If this is still a problem in WorldBrain they could cherry-pick commit cf47449 from here.

Feel free to open up issues here if they are not WorldBrain-specific, most WorldBrain code is still the same.

[2017-08-18 17:45] Treora commented on #122
If you still have that question: Firefox does not support markup (`<dim>`, `<url>`) that Chrome supports and will just display these tags literally.

[2017-09-17 11:24] Treora commented on #120
Underlying issue is fixed in Firefox 57, I just checked it in Nightly and it seems to work. Closing this.

[2017-09-17 11:24] #120 closed

[2017-09-26 09:44] ali-kamalizade opened #125 "Watch script not working on Windows"
While working on a fork of this great web extension, I noticed this when I tried to develop on Windows.

`"watch": "rm -rf ./extension && gulp watch"` (package.json) will not work on Windows systems.

You could add a Windows-specific watch script like `"win-watch": "rd /s /q extension && gulp watch" `(I don't know if this is the best solution but it seems to work).

This is found in version 0.2.4.

[2017-09-26 11:01] Treora commented on #125
Thanks for reporting! Besides that, does everything work on Windows?

I am reluctant to add Windows-specific lines, as any changes would have to be made twice, and I could not test them. Even if this is only about `rm` now, other inconsistencies will likely appear.

I would be more open to use cross-platform commands, but I'm not sure how to go about, and the main problem would still be that I cou

[2017-09-26 12:46] ali-kamalizade commented on #125
No problem. Otherwise, everything seems to work so far :)
I feel you, Windows can be a challenge sometimes compared to MacOS.
Sure, I report when stumble across other Windows errors.

Update: the build commands won't work either. I'm not a console expert but, at least in development mode, you can just run gulp build.

[2017-11-12 00:15] matzhu opened #127 "Most links on YouTube.com broken"
With WebMemex enabled it seems that most links at the YouTube site (not sure about external links pointing in) are non-functional. I say most as this includes all video links. Some ad links work and navigation will expand but then those links within the nav do not work.

I tested this with all other extensions disabled.

[2017-11-12 08:48] Treora commented on #127
Could you tell which browser you are using? And what you mean with "WebMemex enabled"? Are you just browsing with the extension installed, or does the problem occur only after storing a page?

Firefox <57 has a bug that breaks connectivity of pages (e.g. youtube videos) after snapshotting a page with webmemex (reported [here](https://github.com/WebMemex/webmemex-extension/issues/120)), but this sh

[2017-11-12 23:47] matzhu commented on #127
This is on Chrome v 61.0.3163. By "enabled" I mean the extension is installed and not disabled. But to answer your question about how I'm running it, I had "Store every visited page" turned on.

This may be the same as Issue 120. I just read it and can confirm that turning off "Store every visited page" resolves the issue.

By breaking links I mean nothing happens when a link is clicked. I don't m

[2018-01-27 13:14] bnvk opened #128 "Implement numerous features"
I was recently looking at [WorldBrain](https://worldbrain.io)'s **memex** browser extension release (of which the core functionality is based on WebMemex's code). I think the name similarity, [which was discussed](https://github.com/WorldBrain/Memex/issues/65), will unfortunately lead to some confusion in potential new users of each project.

That said, many of the things WorldBrain implemented ar

[2018-01-27 17:30] Treora commented on #128
Namewise, I think it would be great if the word memex became a general term for the kind of tool we are building; especially if that popularises the concept of personal annotated knowledge libraries altogether.

Most features you mention are on my wishlist too, thanks for listing them. Besides the obious constraint of limited time to work on them, and the easily overlooked but important challenge

[2018-02-04 16:52] bnvk opened #129 "Add "grouping" of snapshots by domain name"
Seems like it should be a relatively low-hanging fruit to offer filtering by archived snapshots that are "grouped" by domain name. Example, consider having the following memories:

[code]

Then there could be a list of "domains" displayed which would display the following:

[code]

The numbers on the right would be the number of URLs indexed for that domain. Additionally user can then click on a g

[2018-02-04 20:41] bnvk opened #130 "Various design improvements"
This is a catch all for various suggested design improvements. I will send individual specific things as detailed pull-requests and tag this issue. At some point, it would be worth doing a full design refresh, but for now this should do.

[2018-02-04 22:45] Treora commented on #130
Did you not open #128 for the same purpose?

Do you have specific plans regarding things you intend to improve? I'd be happy to brainstorm about the design together, might also save us effort from doing things twice.

[2018-02-04 23:04] bnvk commented on #130
The other issue is more for larger features, where as this is just visual design polishing of the extension and branding. To me, new features require actual engineering + new code, where as this is just tweaking CSS, text, icons, and such.

[2018-02-05 15:30] blackforestboi commented on #128
hey @bnvk! great to see you surfacing after the new year. :)

Yeah I have been thinking the same here. Memex is already such a common concept, that by calling them all Memex, it feels to me that we leave the mental door open for the software being adapted in various ways all with the goal of helping people to organise their knowledge better.

As for the features mentioned:
We have integrated some

[2018-02-13 20:08] bnvk commented on #99
According to @treora the code at `HEAD` has a command that does not dump the whole database (metadata etc), but does download all snapshots which is accessible by running in Overview JS console:

[code]

Alternatively, as a crude backup of the extensions raw data, you can copy the following in Firefox

[code]

[2018-02-13 20:25] bnvk opened #132 "Consider opportunistic integrations / compatibilities"
As per the feature of "exporting" data from Webmemex like #99 combined with @Treora stated goal of:

Seems fortuitous to keep track of some projects that it would be cool to integrate with on some level. In short, after moving to 100% FOSS OS and apps, the main thing I miss is a suitable replacement for Evernote, and specifically there "page snapshot" feature that then saves your data and syncs it

[2018-03-05 18:27] bnvk opened #133 "Add option to automatically redirect to snapshot after archiving"
As a user, I would like to be able to "jump" to a snapshoted URL immediately after the snapshot finishes. I believe this has multiple benefits:

- Stops various trackers on a given page from recording time on page
- Minimize CPU / mem use from JS heavy pages

Ideally this would be an option that could be enabled / disabled.

[2018-06-06 12:51] dvn0 opened #134 "Keep <noscript> when appropriate (was: Images not in snapshots from Medium.com)"
Images in articles from Medium are not showing up in my snapshots.

[This page for example.](https://medium.com/we-distribute/blushy-crushy-fediverse-idol-a-chat-with-lain-about-pleroma-4ff578b99752)

**To reproduce:**
1.  noscript extension on, blocking all JS.
2. Snapshot the [page](https://medium.com/we-distribute/blushy-crushy-fediverse-idol-a-chat-with-lain-about-pleroma-4ff578b99752) with We

[2018-06-08 00:10] Treora commented on #134
Thanks for reporting; there seem to be more issues with images, which I have not yet understood. I am currently rewriting [freeze-dry](https://github.com/WebMemex/freeze-dry), the code that does the snapshotting, so I will try to fix this issue there.

[2018-08-06 15:54] Treora commented on #10
Closing this issue; features like this one have been fading off the roadmap for a while. Maybe some day..

[2018-08-06 15:54] #10 closed

[2018-08-06 15:55] Treora commented on #17
Closing this issue; off the roadmap.

[2018-08-06 15:55] #17 closed

[2018-08-06 15:57] Treora commented on #20
Closing this issue, as automatically logging visits is not on the roadmap anymore.

[2018-08-06 15:57] #20 closed

[2018-08-06 16:00] Treora commented on #28
Closing this issue; features like this one have been fading off the roadmap for a while. Maybe some day..

[2018-08-06 16:00] #28 closed

[2018-08-06 16:01] Treora commented on #29
Closing this issue; features like this one have been fading off the roadmap for a while. Maybe some day..

[2018-08-06 16:01] #29 closed

[2018-08-06 16:06] Treora commented on #39
Closing this issue; the assumption here was that the results would also contain many pages that were automatically stored, which is now off the roadmap. Some form of integration with bookmarks may still be interesting but would have to be reimagined.

[2018-08-06 16:06] #39 closed

[2018-08-06 16:09] Treora commented on #44
Closing this issue; features like this one have been fading off the roadmap for a while. Maybe some day..

[2018-08-06 16:09] #44 closed

[2018-08-06 16:09] Treora commented on #45
Closing this issue; features like this one have been fading off the roadmap for a while. Maybe some day..

[2018-08-06 16:09] #45 closed

[2018-08-06 16:11] Treora commented on #50
Closing this issue; automatically logging visited pages is off the roadmap now, so this problem no longer exists.

[2018-08-06 16:11] #50 closed

[2018-08-06 16:12] Treora commented on #51
Closing this issue; automatically logging visited pages is off the roadmap now, so this problem no longer exists.

[2018-08-06 16:12] #51 closed

[2018-08-06 16:19] Treora commented on #91
Closing this issue; probably not needed anymore as the features related to logging have been removed from product roadmap.

Still, I feel this may be worth creating at some moment as a separate project, as it could be helpful for many browser extensions.

[2018-08-06 16:19] #91 closed

[2018-08-06 16:21] Treora commented on #103
Closing this issue. Last summer is definitely over by now. :)

[2018-08-06 16:26] Treora commented on #112
Lots of reorganisation done in #135. It could always be better, but it seems good enough to close this.

[2018-08-06 16:26] #112 closed

[2018-08-06 16:28] Treora commented on #121
Closing this issue. Automatically storing pages is no longer a feature, so presumably storage limits are not hit so easily anymore.

[2018-08-06 16:28] #121 closed

[2018-08-06 16:29] Treora commented on #118
Closing this issue. Let's just focus on HTML for now.

[2018-08-06 16:29] #118 closed

[2018-08-06 16:29] #125 closed

[2018-08-06 16:30] Treora commented on #127
Storing every visited page is no longer a feature, so this bug should no longer be a problem either.

[2018-08-06 16:30] #127 closed

[2018-08-06 20:04] Treora commented on #128
Closing this issue. As said, some features would require a more holistic/ecosystem design, and are not likely to get (my) attention soon. I'd like to first get core things working; do less features more soundly. And features that do get attention are probably best discussed in their respective threads.

[2018-08-06 20:04] #128 closed

[2018-08-06 20:09] Treora commented on #130
Closing this issue; specific design ideas would probably best be treated in their own follow-up issues.

[2018-08-06 20:09] #130 closed

[2018-08-06 20:42] Treora commented on #132
Integration into an ecosystem of tools is indeed a primary goal. As for storage&syncing, [RemoteStorage](https://remotestorage.io/), as Laverna uses, could play a role in this. But so could [Dat](https://datproject.org/), [SoLiD](https://solid.mit.edu/), or other solutions for web-writability.

Keeping track of and looking for potential integrations with related projects is an ongoing effort; I am

[2018-08-06 20:42] #132 closed

[2018-08-06 21:05] Treora commented on #134
Not sure why I did not realise this before: Medium.com lazily loads each image using javascript, and also adds the image in a `<noscript>` tag to show it when scripts are disabled. But freeze-dry removes all `<noscript>` tags, under the assumption that scripts have been executed, e.g. in order to not to end up with both images in this case. So the solution is to keep `<noscript>` tags, and perhaps

[2018-08-06 21:18] Treora commented on #133
Sounds like turning the tool in a sort of reader mode, interesting.. If this seems a broader desire (add a thumbs up if you want this) it may be worth adding, though to me personally I have found the two required clicks (open snapshot, close other tab) an acceptable effort so far when this behaviour is desired.

I suppose other UX design choices may also influence the behaviour still; perhaps clic

[2018-08-06 21:26] Treora commented on #77
Closing this issue. I would still love this feature in browsers, but will not focus on this in the near future, and if so then most likely as a separate project and separate browser extension (possibly as part of [Precise Links](https://addons.mozilla.org/en-US/firefox/addon/precise-links/)).

[2018-08-06 21:26] #77 closed

[2018-08-07 16:29] Treora commented on #134
I suppose it makes sense to move this issue to the freeze-dry repo: [#32 there](https://github.com/WebMemex/freeze-dry/issues/32).

[2018-08-07 16:29] #134 closed

[2018-08-10 11:03] Treora opened #136 ""Save page as.." from popup fails in Firefox"
As the popup is automatically closed when the folder picker is shown, the blob URL is deleted.

I intend to redesign the saving/storage UX altogether, so this bug may just vanish soon.

[2018-08-21 10:59] bnvk commented on #133
It is actually three clicks (1 take snapshot, 2 to visit snapshot, 3 to close previous tab). I'm proposing 1 click. Those additional 2 clicks add up over months, years. Yes,

Would be an improvement :)

[2018-10-06 15:01] Treora commented on #136
Fixed in commit f95faed.

[2018-10-06 15:01] #136 closed

[2019-03-16 07:58] pierstitus opened #137 "error on freeze drying website with wrong <link href>"
Archiving the website https://www.vikingdome.com/blog/portfolio-item/aura-dome-garden-pod/ gives an error. The freeze drying code fails because in the header `<link rel="publisher" href="https://Specializuojamėsgeodeziniųkupolųbeiįvairiųkonstrukcijųprojektavimeirgamyboje.Teikiameprojektavimo,konstrukcijųgamybosbeimontavimopaslaugas."/>` has an invalid URL.

[2019-03-16 13:33] Treora commented on #137
Thanks, I stumbled on the same problem recently. Tracked in https://github.com/WebMemex/freeze-dry/issues/41

[2019-05-20 20:55] Treora opened #138 "Store snapshots as files in the user’s download folder"
It may be worth trying use the download folder as the main storage for snapshots, instead of IndexedDB. This because currently the extension feels like a silo that hides the snapshots in a secret corner of your disk, requiring you to ‘save as’ each page to do anything with it (sharing, editing, whatever). And also because, at least in my Firefox, IndexedDB has proved unreliable, having occasionall

[2019-05-20 21:01] Treora commented on #99
In v0.3.2, I finally added a button to store all your snapshots. Not as a zip, but in a folder (currently named 'Webmemex snapshots dump yyyy-mm-dd') inside your downloads folder, which seems equivalent (or better) in my view. The button just invokes the `downloadAllPages` function mentioned above.

Closing this issue, although much could be improved still. For example, there is no way to download

[2019-05-20 21:01] #99 closed

[2019-06-06 23:17] Treora commented on #137
Fixed in v0.3.3!

[2019-06-06 23:17] #137 closed

[2019-07-26 21:14] Treora opened #139 "filename errors"
When saving, or auto-saving, I often get a “File name is too long” error, and sometimes “filename cannot contain illegal characters” (it’s the `|` pipe, I suppose).

[2020-02-12 23:08] clmay opened #140 "Keyboard shortcuts"
As a user, I want to be able to use keyboard shortcuts to:

- Snapshot current page
- Open "all snapshots" page

Additionally, on pages that do not support snapshots, I want the "take snapshot" shortcut to have no effect.

I will try to find time to dig into [Codetour.md](https://github.com/WebMemex/webmemex-extension/blob/master/Codetour.md) to see how the extension works.

If anyone has thoughts

[2020-02-12 23:10] clmay opened #141 "Context menu support"
As a user, I want to be able to use the context (right-click) menu to take a snapshot of the current page.

I will try to find time to dig into [Codetour.md](https://github.com/WebMemex/webmemex-extension/blob/master/Codetour.md) to see how the extension works.

If anyone has thoughts on how to implement this, please let me know. I don't suspect it should be hard to add. Just have to see how the W

[2020-02-13 10:11] Treora commented on #140
Fantastic. Note that the manifest already [defines](https://github.com/WebMemex/webmemex-extension/blob/7293f3fc210f1dc08c8a59788a582e9321dadf2e/src/manifest.json#L26-L39) two shortcuts:
- `Ctrl+Y` to open the overview (configured [here](https://github.com/WebMemex/webmemex-extension/blob/7293f3fc210f1dc08c8a59788a582e9321dadf2e/src/main/background/menus-and-shortcuts.js#L81-L84))
- `Alt+M` to sto

[2020-02-13 10:18] Treora commented on #141
Sure. Perhaps look at how it’s done in e.g. [`src/main/background/snapshot-tab.js`](https://github.com/WebMemex/webmemex-extension/blob/master/src/main/background/snapshot-tab.js).

Would be even better if we could just replace the “Save Page As...” implementation..

[2020-07-15 19:50] Treora commented on #138
After observing users accidentally lose their data by moving to a new computer and understandably not moving their browser profile with them, I figured the default option should be to download snapshots as files.

In v0.4.0 this is implemented as described above, including the downsides:

The old behaviour is still available for those who want it. The code has become a little messy because of this

[2020-07-15 19:50] #138 closed

[2020-07-15 19:52] Treora opened #142 "Detect whether a page is a snapshot by reading its <meta> and <link> tags."
Moving this here from issue #138:

[2020-07-15 20:00] Treora commented on #140
I implemented this change in commit 8304985. Does this solve your needs?

Closing this issue for now; but feel free to follow up if you have a better solution!

[2020-07-15 20:00] #140 closed

[2020-07-15 20:03] Treora commented on #141
@clmay did you manage to work this out?

[2020-07-15 20:19] clmay commented on #141
You know, I haven't followed up on this, bought a fixer-upper a couple months ago. I'd like to, but for now project time is scarce.

[2020-08-03 15:08] Treora opened #143 "Previous snapshots unavailable after reopening Firefox"
Since the recent change to download snapshots instead of storing them inside the extension.

In the snapshot overview, many snapshots are greyed out as not being available, and cannot be opened, even though the file has not been deleted nor renamed. For others, when clicking on them, another snapshot is opened instead of the one that was clicked.

The issue appears to be that in Firefox, the [Down

[2020-08-12 09:30] Treora opened #144 "For mistakes in the resulting snapshots, see freeze-dry"
For snapshotting web pages, this browser extension uses the [freeze-dry][] module. In case you encounter mismatches between a snapshot and the original web page, please discuss the issue [there][] instead.

[freeze-dry]: https://github.com/WebMemex/freeze-dry/
[there]: https://github.com/WebMemex/freeze-dry/issues/

[2022-02-20 01:15] kvgc opened #145 "Download snapshot database to another machine"
Hi,
How do I download all my snapshots from one machine and add it to another machine?
I am able to download the html but is there a way to upload it back to the extension?
This seems like a simple thing that could be done but I can't seem to figure it out.
Thanks!
--
kvgc

[2022-02-22 15:10] Treora commented on #145
Hi, sorry there is no function to import snapshots back into the extension.

As background info: Storing snapshots inside the extension appeared unreliable (my Firefox repeatedly deleted all my snapshots), and it increasingly felt like a bad design pattern anyway (as the data is hidden in an app), so at some moment I gave up on it and started storing pages as downloads instead (see [this blog post

[2022-02-22 18:14] kvgc commented on #145
Hi, Thanks so much. That makes sense.
I really like the extension's idea and would love to integrate note taking into it.
I have a working prototype of a note taking web extension (https://github.com/kvgc/WebResearcherJS-extension) that I was able to put together with a friend of mine.  But I like the way webmemex allows you to search through the webpages that have been saved. I think that's reall

[2022-06-18 18:53] #145 closed